[2017-10-24 13:18] wsalesky opened #2 "Add map of buildings to site pages."
From email:

[2017-10-25 02:30] #2 closed

[2017-10-25 02:31] wsalesky opened #3 "Add keyword module for Architectural Features"

[2017-10-26 14:07] wsalesky opened #4 "Update ttl output"

[2017-10-26 14:07] wsalesky opened #5 "Update rdf output, add rdf conversion and save to eXistdb triple store function."

[2017-10-26 14:10] #4 closed

[2017-10-26 17:31] wsalesky opened #6 "Add webhooks"

[2017-11-01 16:22] #6 closed

[2017-11-01 16:22] #3 closed

[2017-11-01 16:23] wsalesky opened #8 "Add buttons to access RDF/XML/JSON versions of the data."

[2017-11-01 16:39] wsalesky commented on #8
Done here: https://github.com/VandyVRC/srophe-eXist-app/commit/9b5e930df0407299487c4b5aa51bf2a88523fbd5

[2017-11-01 16:39] #8 closed

[2017-11-01 17:59] wsalesky opened #9 "Maps are not appearing in search results."
Debug and get up on server.

[2017-11-01 18:02] wsalesky commented on #9
Fixed.

[2017-11-01 18:02] #9 closed

[2017-11-06 15:12] millertg opened #11 "change the source for "Site Name" in English"
Site name should be pulled from site.csv, column I site_name_en. This will provide an English translation without the underscore

[2017-11-06 15:31] millertg opened #12 "add site name (pinyin); change source"
Under Site Name we should add a pinyin version (which is now listed as English the site.csv, column B "site_name_pinyin" This column has no underscores in the pinyin name.

[2017-11-06 15:51] millertg opened #13 "Add building and site information fields"
Section labeled "Building Information" and "Site Information" should be added to the return on and building or site search. This should come from the "building_data"  and "site_data" columns in the building.csv file, and should appear above "Notes". Although largely empty now, a student and I are currently working to clean up data for these fields.

[2017-11-06 15:53] millertg opened #14 "Add map to "Site" page"
I like the look of the map on the Building in Site page, can we do the same thing with the Site page?

[2017-11-06 15:56] millertg opened #15 "Architectural features search result does not seem accurate"
I am not sure what is going on with the Architectural Features. A building should only show an architectural feature when there is a number in the column. Unless it is one of the features that should return a numerical result. This is something we should talk about, perhaps.

[2017-11-14 16:11] #11 closed

[2017-11-16 15:35] wsalesky commented on #15
This should be fixed in the updated data.

[2017-11-16 15:35] #15 closed

[2017-11-16 15:35] wsalesky commented on #14
Added.

[2017-11-16 15:35] #14 closed

[2017-11-16 15:35] wsalesky commented on #13
Added

[2017-11-16 15:35] #13 closed

[2017-11-16 15:35] wsalesky commented on #12
Added

[2017-11-16 15:35] #12 closed

[2017-11-16 15:52] wsalesky opened #18 "Update/enable webhooks"

[2017-11-16 18:20] wsalesky opened #19 "Clean up geoJSON output on map pages"
Output includes unneeded/unwanted data
ex:
<img width="430" alt="screen shot 2017-11-16 at 1 20 06 pm" src="https://user-images.githubusercontent.com/1168206/32908218-e74359f6-cad0-11e7-9dc8-ba42972f80f4.png">

[2017-11-16 19:13] wsalesky commented on #18
Used the work around. (add version):
`<http:request http-version="1.1"`

[2017-12-15 16:45] millertg opened #21 "remove source information from popups"
@wsalesky source for date comes up as building name, do you know why?
![screen shot of shanmen search](https://user-images.githubusercontent.com/25234059/34051503-7ee60ffa-e184-11e7-918b-c163ceecf90e.png)
can we pull this source from popups?

[2017-12-15 16:54] wsalesky commented on #21
Looks like a bug.

[2017-12-15 16:59] millertg opened #23 "site and building name should be combined"
@wsalesky search for mountain gate returns numerous mountain gates from which to choose. Can we combine site name and building name in search results? And in the titles on returns? So that, in the example below, you would see: Chongjiao Monastery Mountain Gate 崇教寺山門？
![site separated from building name](https://user-images.githubusercontent.com/25234059/34052043-58ab6522-e186-11e7-9376-c50be7a2fac

[2017-12-15 17:02] wsalesky commented on #23
Yes, do you want this to be the title of the record, or only when it is returned in a search? (My recommendation would be to put it in the title of the TEI.) Let me know which you prefer.

[2017-12-15 17:08] wsalesky commented on #21
Related problems here: http://tcadrt-exist-2.jelastic.servint.net/exist/apps/tcadrt/search.html?q=mountain+gate

and here: http://tcadrt-exist-2.jelastic.servint.net/exist/apps/tcadrt/place/000129

[2017-12-15 17:19] #21 closed

[2017-12-15 18:12] millertg commented on #23
We might need to do both, but I am not sure. I should also see the name of the site on the return for any building type search I might do. So, the return for "shanmen" should include the name of the site in which each shanmen appears (see below). If that were the title of the record, would that be the result?
![screen shot 2017-12-15 at 12 10 45 pm](https://user-images.githubusercontent.com/252340

[2017-12-15 19:19] wsalesky commented on #23
Yes, that would be the result.

Sent from my iPhone

[2017-12-15 22:27] millertg commented on #23
Then putting into the TEI would be fine. There should probably be a comma after the site name.

[2017-12-17 02:29] wsalesky commented on #23
Added. Let me know what you think. If you like it, you may close the issue, if you would like to make any adjustments let me know.

[2017-12-17 20:44] millertg commented on #23
Looks great. Before we close, is it possible to NOT have the site name included when listing the buildings (which for the sake of further development, should read: building(s)/artifact(s)).
![site page modification](https://user-images.githubusercontent.com/25234059/34083569-a5da2654-e338-11e7-8627-2ff92c1bbc7a.jpg)

[2017-12-18 03:10] wsalesky commented on #23
Okay, how does it look now?

[2017-12-18 15:25] millertg commented on #23
looks good! I have other modifications but I think we can close this issue.

[2017-12-18 15:28] wsalesky commented on #23
Great!

[2017-12-18 15:28] #23 closed

[2018-01-25 17:09] wsalesky opened #27 "Related places are not using the full title."
See: http://localhost:8080/exist/apps/tcadrt/place/000008

[2018-01-30 20:31] wsalesky opened #29 "Update searchTips.html"
These are specific to Syriaca.org, terms can be swapped out, or the whole thing could be rewritten.

[2018-01-31 02:45] wsalesky opened #30 "Remove or suppress 'see why' button under maps"
example: http://localhost:8080/exist/apps/tcadrt/search.html?q=art*&start=1&sort-element=relevance

[2018-01-31 14:39] wsalesky opened #31 "Update search page."
There is no need for the form to be xquery. Add html form elements to search page and remove from xquery. Add JS to show hide form as needed.

[2018-01-31 14:44] wsalesky opened #33 "Add geoJSON/KML/XML/JSON output from search/browse results"
Add a download button, or alternate format buttons (as on record pages) allowing users to get search and browse results as geoJSON,KML,XML or JSON.

Would be ideal to handle through RESTXQ as record pages are handled but could be challenging.

[2018-02-09 03:09] wsalesky opened #34 "Update search to use facets"
Currently displays but does not narrow.

[2018-02-09 14:48] wsalesky commented on #31
Done.

[2018-02-09 14:48] #31 closed

[2018-02-09 17:19] wsalesky opened #36 "Chinese character search does not work on dev server"
Search works on local installation. v3.6.1

[2018-02-09 17:20] wsalesky opened #37 "Architectural Features links result in 500 error"
On dev, not local.

[2018-02-09 17:21] wsalesky opened #38 "Amend Architectural features TEI"
Use English title for tei:title. Add image from flicker, supplied by Tracy.

[2018-02-09 17:21] wsalesky opened #39 "Add a Featured image from flicker images to Site TEI and html"

[2018-02-09 17:22] wsalesky opened #40 "Investigate date slider for facets"
Use building dates for now. Dates may still need to be regularized.

[2018-02-09 17:23] #30 closed

[2018-02-09 17:24] wsalesky opened #41 "Add additional Srophe features"
Add d3xquery and or d3sparql. Add timeline feature for building dates.

[2018-02-12 03:27] wsalesky commented on #39
@millertg You can add a column for this to the spreadsheet and let me know when the image id's are added I will then rerun the XSLT and load the new data.

[2018-02-12 03:28] wsalesky commented on #27
This has been fixed in the data.

[2018-02-12 03:28] #27 closed

[2018-02-12 03:29] wsalesky commented on #19
Done.

[2018-02-12 03:29] #19 closed

[2018-02-12 17:28] wsalesky commented on #36
This is a setting in Tomcat. (For future reference "forced utf8 in the tomcat conf file")

[2018-02-12 17:28] #36 closed

[2018-02-12 17:38] wsalesky opened #42 "Javascript warnings console when using maps."
Mixed Content: The page at 'https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/search.html?q=%E5%AE%89%E7%A6%AA%E5%AF%BA+' was loaded over HTTPS, but requested an insecure image 'http://api.tiles.mapbox.com/v3/sgillies.map-ac5eaoks/5/27/13.png'. This content should also be served over HTTPS.

[2018-02-13 13:54] wsalesky commented on #40
Done, still needs to be moved to dev server.

[2018-02-13 13:54] #40 closed

[2018-02-13 16:43] #42 closed

[2018-02-13 16:45] wsalesky commented on #38
English title added. Waiting for images from @millertg

[2018-02-13 16:46] wsalesky commented on #37
Fixed. Example: https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/keyword/ic_match_ct

[2018-02-13 16:46] #37 closed

[2018-02-13 16:47] wsalesky opened #48 "Features Browse?"
We may want to add a browse just for the features? Currently they can only be accessed via a place record.

[2018-02-15 16:03] wbsealy commented on #29
I've seen this file as well when looking at the app in action and can address this...

[2018-02-15 16:06] wsalesky commented on #29
@wbsealy Great! Thanks.

[2018-02-15 17:06] millertg commented on #38
Do you know how the images are pulled from Flickr? I found a url, but to match it with formatting in the images.csv I have to manually trim the link. Can they be auto-generated somehow?

[2018-02-15 17:29] millertg commented on #39
This is the "BB code" for sharing the image:
[url=https://flic.kr/p/8mUuJp][img]https://farm5.staticflickr.com/4073/4831069771_14fcd97cc0_z.jpg[/img][/url][url=https://flic.kr/p/8mUuJp]Baitaisi exterior view of complex[/url] by [url=https://www.flickr.com/photos/30365320@N04/]Tracy Miller[/url], on Flickr

I like this because I can choose the size, but it seems cumbersome. Still, should I paste th

[2018-02-15 17:33] wsalesky commented on #39
No, just use the image url. You can chose the size to request from flickr based on that last letter before the .jpg, which we will change programmatically, depending on the context.

[2018-02-15 17:36] millertg commented on #39
It will look like this, correct?
https://www.flickr.com/photos/30365320@N04/4831355562/in/photolist-8mVY3m-8mSP9P-8mVXFQ-8mVYbE-8mSNP4-8mVXg1-8mSMV2-8mSN5c-8mSNfp-8mSNrn-8mSN9K-8mVXmU-8mVUE5-8mVUty-8mVV5u-8mSKgr-8kPtzY-8kPtrJ-8mSMrp-8mSLvc

[2018-02-15 17:40] wsalesky commented on #39
No, we want just
https://farm5.staticflickr.com/4073/4831069771_14fcd97cc0_z.jpg

From the "BB Code" if it is too cumbersome to parse it out by hand you can paste the whole BB code snippet into the spreadsheet and I will parse it with XSLT.

[2018-02-19 17:47] wsalesky commented on #39
Images have been added. They still need to be styled.

[2018-02-19 18:43] wsalesky commented on #41
d3js visualizations of relationship data:
https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/d3xquery/index.html

[2018-02-19 22:27] millertg commented on #39
Thanks. Both Site and Building page should have the following general layout. I'll email William about this as well.
![image](https://user-images.githubusercontent.com/25234059/36399484-b3e38476-1591-11e8-8946-adf76c89dea6.png)

[2018-02-19 22:34] millertg commented on #39
@wbsealy Can you style the Site and Building pages to have a separate column for a selected image? This will need to be done for the Architectural Features page as well. Thanks!
![image](https://user-images.githubusercontent.com/25234059/36399696-b3a4d392-1592-11e8-9821-429bb5f4a3cd.png)

[2018-02-26 16:06] wsalesky commented on #5
Data can be harvested from the API:

https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/api/data

parameters available:
format (tei,ttl,rdf,geojson)
start (any number, defaults to 1)
limit (any number defaults to 50)

Some documentation should be written up for this. It would also be useful to add some search parameters.

[2018-03-01 01:00] wsalesky opened #55 "Search bug"
There are some issues with the way in which the search works for some of the terms. For example, “number of intercolumnar bracket sets in central bay” should actually return a cardinal number.

So it should look like:

Number of intercolumnar bracket sets in central bay: 1 (or 0, 2, 3, etc.)

[2018-03-01 03:50] wsalesky commented on #55
Results are now returned but there is a bug in the facets for this type of search.

[2018-03-02 03:43] wsalesky commented on #55
Fixed on Develop. Will move to production when @wbsealy changes are ready.

[2018-03-02 03:43] #55 closed

[2018-03-09 16:03] millertg opened #60 "@wsalesky Modify Browse"
The Chinese text after ALL SITES does not match ALL SITES. Maybe just remove the ALL SITES browse result?

![screen shot 2018-03-09 at 9 52 07 am](https://user-images.githubusercontent.com/25234059/37216670-feaf58a2-2380-11e8-9846-34548f515efc.png)

[2018-03-09 16:12] millertg commented on #60
Dynasty browse should be keyed to the date of the building, not the date of the site. Maybe rename 'Date of building/artifact'
![screen shot 2018-03-09 at 10 07 16 am](https://user-images.githubusercontent.com/25234059/37217019-0626b372-2382-11e8-8d8a-c4da21eddc8b.png)

[2018-03-09 20:58] millertg opened #61 "@wsalesky pulling images from Flickr"
Images pulled from Flickr are not filtered by building/artifact. Can this be fixed in Flickr so that one only sees the images specific to that structure? Or should they go under "site" rather than "building"? The screenshot in this message shows the result of the 1000 Buddhas Hall of Chongqing Monastery.
![screen shot 2018-03-09 at 2 23 10 pm](https://user-images.githubusercontent.com/25234059/372

[2018-03-09 21:01] wsalesky commented on #61
Can you share the link where these are showing up incorrectly? Currently these are mapped in this file: https://github.com/VandyVRC/tcadrt/blob/master/temple-images/images.csv

[2018-03-09 21:02] millertg commented on #61
Sure: https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/place/000150

[2018-03-09 21:04] wsalesky commented on #61
Thanks, I will take a look.

[2018-03-09 21:27] millertg opened #62 "@wsalesky placing citation information"
Endymion Wilkinson's _Chinese History: A Manual_ pp. 11-12 is in the wrong place, It was only for the dates of the dynasties, not for building information. I am not sure where it should appear, but it seems misplaced on the Building or Site pages.
https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/place/000097

[2018-03-09 22:00] millertg opened #63 "@wsalesky location of citation information"
Endymion Wilkinson's _Chinese History: A Manual_ pp. 11-12 is in the wrong place, It was only for the dates of the dynasties, not for building information. I am not sure where it should appear, but it seems misplaced on the Building or Site pages.
https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/place/000097

[2018-03-09 22:10] millertg opened #64 "@wsalesky "Site Information" and "Building Information""
The "Brief Description" on the Site page might be better named "Site Information"  https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/place/000002
Can we put that in the box directly under the image of the site?

Also, can we have a similar box for "Building Information" on the building pages? The information for that should also come from the buildings.csv, but from column M: bui

[2018-03-12 04:02] millertg opened #65 "@winona Edit Names on Site page"
The names of the site and location on the Site page seems redundant, partly, I think, because it is coming from my spreadsheets and the Getty. https://architecturasinica.org/place/000001

Can we edit them so that we have less repetition and more consistency? See possible additions, below.

Names [we should have this order for the others, as well, ie. English, Pinyin, Traditional Chinese, Simplifie

[2018-03-12 13:36] wsalesky commented on #65
@millertg Is there a list that maps all the names for site types. I don't always know which part of the Chinese text is the site type in the spreadsheet.

For most of them it looks like the last character but that is just me guessing.

 If you could make up a little spreadsheet with all the types and the English, Pinyin, Traditional Chinese, Simplified Chinese variants that would be useful.

ex: m

[2018-03-12 17:01] wsalesky opened #67 "Content for pages linked on new home page."
@millertg We should provide pages for the links on the new homepage, even short descriptions of upcoming features would be fine.

Pages listed:

1. 甲 Digital Research Tool - I am working on this
2. 乙 Geolocation - Do you want a map here? Or are you thinking of something else?
3. 丙 Image Archive - Should we pull in all Flickr images?
4. 丁 Epigraphy - Is this a 'in development' feature? Can we a hav

[2018-03-12 17:01] millertg commented on #65
Here are the sites. I will do another for buildings.
[site types.xlsx](https://github.com/VandyVRC/srophe-eXist-app/files/1803763/site.types.xlsx)

[2018-03-12 17:01] wsalesky commented on #65
Wonderful, thanks.

[2018-03-12 18:41] millertg commented on #67
乙 Geolocation - Do you want a map here? Or are you thinking of something else?--This might be a good place for the Browse all sites feature for now. I was hoping to figure out how to layer historic maps in this area. At which point it would be called Geolocation/Historic mapping.
丙 Image Archive - Should we pull in all Flickr images? At this point I am not sure how well that would work. Maybe we s

[2018-03-12 18:47] millertg commented on #65
I think these are all the building types I currently have. They defy simple description. Maybe we could build that into a Pictorial Dictionary/Glossary function.
[building types.xlsx](https://github.com/VandyVRC/srophe-eXist-app/files/1804101/building.types.xlsx)

[2018-03-12 22:25] wsalesky commented on #64
@millertg do you want to include the Site Information in the building pages? The site information is in the building.csv (column B).

[2018-03-12 22:30] wsalesky commented on #67
@millertg Sounds good. Thanks.

[2018-03-13 00:46] wsalesky commented on #65
Yes I think that would be useful. (Adding them to the Glossary).

For building types, can you tell me how to tell the difference (in the building.xml) between: pagoda and stūpa? I don't see 'stūpa' in the building.csv, and the Chinese and Pinyin look the same.

Thanks,
-Winona

[2018-03-13 01:37] millertg commented on #65
They are the same in Chinese, but religious historians often translate the word "ta 塔" as stupa, so I thought I would add a line. It could also be an alternative translation, or I guess a search for stupa could redirect to pagoda?

[2018-03-13 01:39] wsalesky commented on #65
I think an alternative translation would probably work. Let me check the TEI

[2018-03-13 02:09] millertg opened #69 "@winona Front page aspect ratio"
Can we widen the aspect ratio of the front page image? A lot of whitespace appears at the bottom, and it might be nice to see the left roof ridge decoration on the top.

[2018-03-13 02:17] millertg opened #70 "@winona building dates"
I just noticed that there is no dynastic date column on the building spreadsheet. Should I add one now so that the building date appears when you click over to the building page?

[2018-03-13 02:18] millertg commented on #70
and if so, does it matter where in the buildings.csv I add it?

[2018-03-13 03:56] millertg commented on #64
No, the site information should be for the site, the building information should be for the building. I realize this is a bit confusing. The site information should always have been in the site.csv.

[2018-03-13 10:20] wsalesky commented on #70
Yes please put it in. And no it does not matter where. Just give it a
descriptive name.
Thanks,
-Winona

On Mon, Mar 12, 2018 at 10:18 PM, Tracy Miller <notifications@github.com>
wrote:

[2018-03-13 11:00] wsalesky commented on #65
Okay. I have created individual records for these, and added 'supta' as an alternative translation to the pagoda file. These files will live in the 'keyword' directory, we can discuss how/if to search and display them.

[2018-03-13 11:11] wsalesky commented on #70
Actually I have dates in the building records. (I grabbed them from the matching site.) If they are dated differently then the sites, you should add a new column, otherwise you can leave as is.

[2018-03-13 11:19] wsalesky commented on #65
@millertg We seem to be missing a building type 'Gate'? See 000076 or 000226. and site type 'Cloister' see: 000039.

Thanks.

[2018-03-13 14:42] millertg commented on #69
Oh, I see. Well, maybe not, then....

On Mar 13, 2018, at 5:56 AM, Winona Salesky <notifications@github.com<mailto:notifications@github.com>> wrote:

@millertg<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmillertg&data=02%7C01%7Ctracy.g.miller%40vanderbilt.edu%7Cd3db578434624818640d08d588d11330%7Cba5a7f39e3be4ab3b45067fa80faecad%7C0%7C0%7C636565353906666955&sdata=S

[2018-03-13 14:43] wsalesky commented on #69
@millertg I will give it a try, but I am also going to leave this fairly far down on the list, just so I can get other things done. Sometimes CSS fiddling takes longer then coding a whole new feature!

[2018-03-13 14:48] millertg commented on #69
sounds good.

On Mar 13, 2018, at 9:43 AM, Winona Salesky <notifications@github.com<mailto:notifications@github.com>> wrote:

@millertg<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmillertg&data=02%7C01%7Ctracy.g.miller%40vanderbilt.edu%7C7c0b8a65dd3c41201eed08d588f0db06%7Cba5a7f39e3be4ab3b45067fa80faecad%7C0%7C0%7C636565490402942269&sdata=%2BybgbXVhCLvU8qPbr7rg8tW

[2018-03-14 15:43] #64 closed

[2018-03-14 15:48] millertg opened #72 "@winona duplicate building"
000143 and 000144 appear to be the same building with different names. Can we make 000144 an alternate name for 000143?

[2018-03-14 16:49] millertg commented on #72
Ok, sounds good.

[2018-03-14 16:49] wsalesky commented on #70
@millertg I think this can be closed?

[2018-03-14 16:50] #67 closed

[2018-03-14 16:51] #70 closed

[2018-03-14 16:55] wsalesky commented on #65
@millertg I think I caught all of these. Reopen if I missed anything.

[2018-03-14 16:55] #65 closed

[2018-03-14 16:56] wsalesky commented on #63
closing as duplicate of https://github.com/VandyVRC/srophe-eXist-app/issues/62

[2018-03-14 16:56] #63 closed

[2018-03-14 16:59] #60 closed

[2018-03-14 17:00] #48 closed

[2018-03-14 17:00] #41 closed

[2018-03-14 17:01] #38 closed

[2018-03-14 17:04] wsalesky commented on #33
Not quite there yet, but you can download the full data set via:
Example: https://architecturasinica.org/api/data?format=geojson
Formats available through the api:

- ttl
- rdf
- geojson
- tei

[2018-03-14 17:05] wsalesky commented on #29
@wbsealy I think we agreed to just suppress searchTips, at least for now.

[2018-03-14 17:05] #29 closed

[2018-03-14 17:06] wsalesky commented on #5
Closing this. Search params for the api are in this issue: https://github.com/VandyVRC/srophe-eXist-app/issues/33

[2018-03-14 17:06] #5 closed

[2018-03-14 17:13] wsalesky commented on #61
@millertg

These are incorrectly mapped in the temple-images csv. We don't have a way to automate the connection with flickr. At least not yet (still working out the flickr API). So they will have to be reassigned manually in the https://github.com/VandyVRC/tcadrt/blob/master/temple-images/images.csv

[2018-03-14 17:14] wsalesky commented on #39
@millertg @wbsealy This may be done. Reopen if not.

[2018-03-14 17:14] #39 closed

[2018-03-14 17:16] millertg commented on #61
Ok, will do.

[2018-03-14 17:20] wsalesky commented on #62
@millertg We should probably discuss how to link sources in the TEI records. It may be useful to rope @davidamichelson into the discussion as he is far more knowledgeable about the TEI then I am.

[2018-03-14 17:51] wsalesky opened #74 "Research tool search is slow"
Slow due to grouping (so buildings always appear under parent site.)

[2018-03-14 17:54] #74 closed

[2018-03-15 12:36] millertg commented on #62
Sounds like a good idea.

[2018-03-15 12:42] millertg opened #76 "Remove redundant information on the buildings page"
2 things can be removed from this page https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/place/000124:
1. the last line under "Names"--this seems to be coming from column S "alternate_building_name_pinyin". I don't think we need to use this column at all anymore.
2. "Site Information" I think this only needs to appear on the site page. Maybe a link back to that page, instead?

[2018-03-15 15:07] wsalesky opened #77 "Bad submit on search in navbar"
Does not submit, just goes to search page. Need to change to submit button  and move inside the form.

[2018-03-15 15:09] wbsealy opened #78 "Make Search Button Perform a Search and Not Just Link to Search Page"
The magnifying glass button next to search links to search page and should perform a search. Probably left over from it's previous function when it was a gear.

[2018-03-15 15:11] wsalesky commented on #77
duplicate: https://github.com/VandyVRC/srophe-eXist-app/issues/78

[2018-03-15 15:11] #77 closed

[2018-03-15 19:12] wbsealy opened #79 "Responsive Breakpoints for Homepage, Nav, and About Us"
After examining the homepage, realized the best solution for all the viewports is to put in custom media queries to establish breakpoints to resolve display issues for homepage elements, nav elements (in both full and collapsed mode), and the about page feature image and text flow.

[2018-03-15 19:29] wbsealy opened #80 "Display Issue With Detail Page Thumb Gallery"
Example page: <https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/place/000150>

[2018-03-15 19:33] wbsealy opened #81 "Consistent Link Colors"

[2018-03-15 20:56] millertg opened #82 "@winona Building date should come from building.csv, need characters?"
I added names of dynasties to accompany the specific dates for buildings on the building.csv. So this should be routed from building.csv rather than site.csv. Do I need to add columns with Simplified and Traditional characters, too?

[2018-03-16 02:00] wsalesky commented on #82
Sure. Can you add them to this XML file though:
https://github.com/VandyVRC/tcadrt/blob/master/dynasties.xml
(Just add a new row, name Simplified and one for Traditional )

[2018-03-16 12:37] #78 closed

[2018-03-16 13:10] millertg commented on #82
Ok, I think everything is already on the list. I need to modify the building.csv and site.csv so they match what we have. The dates on the building page (e.g. https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/place/000167) should be modified to read:

Date: (numerical date or date range--in the above example it would read 1020)
Dynasty: (dynasty name, date range for dynasty-- in

[2018-03-16 13:15] wsalesky commented on #82
Sounds good. Let me know when the .csv files are updated and I will make the changes.

[2018-03-16 17:23] wsalesky opened #84 "Flickr integration"
Pull image descriptions from flickr if they exist.

[2018-03-16 17:37] wsalesky commented on #84
Change to load captions asynchronously via javascript, otherwise it really slows down page loads.
See: https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/place/000150

[2018-03-16 19:49] millertg opened #86 "select site or building on geolocation page"
@winona Because the dates are different (or should be?) when searching from building.csv and site.csv perhaps we could make that the first selection on the geolocation page https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/geolocation.html?

[2018-03-16 20:18] wsalesky commented on #86
@millertg Do you mean something different from the date slider?

[2018-03-16 22:59] millertg commented on #86
I am not sure from where the dates of the buildings are being pulled. For example, the Nanshentou Erxian temple mistakenly has two dates associated with it: a Jin dynasty date on the site.csv and a Song dynasty date on the building.csv (yes, I have fixed this :-)). On the date slider the complex comes up under Northern Song dates, so it is pulling from the building.csv and the site.csv. Consequent

[2018-03-17 14:14] wsalesky commented on #86
Okay, so the date slider should not be using the Dynasty dates on buildings, just on sites is that correct?

[2018-03-17 15:50] millertg commented on #86
Would it be a strange to have 2 date sliders? One for sites  and one for buildings?

tm

Sent from my iPhone

On Mar 17, 2018, at 9:14 AM, Winona Salesky <notifications@github.com<mailto:notifications@github.com>> wrote:

Okay, so the date slider should not be using the Dynasty dates on buildings, just on sites is that correct?

—
You are receiving this because you were mentioned.
Reply to this em

[2018-03-18 01:13] millertg commented on #86
Hi Winona,
I updated the building.csv, and made some changes to the site.csv. I will still need to do some more research to verify earliest dates for all of the sites, but if we could update the buildings, that would be great.

Thanks so much-
Tracy

On Mar 17, 2018, at 9:14 AM, Winona Salesky <notifications@github.com<mailto:notifications@github.com>> wrote:

Okay, so the date slider should not b

[2018-03-18 03:24] millertg commented on #86
Hi Winona,
I was able to update the dates on the building.csv, and correct some mistakes on the site.csv. I need to so more research on the sites to get the result I want. Previously I had focused only on extant buildings, but I think, looking at it on-line, I should include the textual history of the site as we know it, and then have each of the artifacts listed separately in the building(s)/arti

[2018-03-18 18:54] wsalesky commented on #86
I updated the data. Let me know if this is looking better.

[2018-03-18 20:08] millertg commented on #86
It does look much better. It seems something is strange with the Liao and Jin dynasties, however. Liao comes up as a url, and one site (Shanhua Monastery) that has both Liao and Jin structures still reads Jin when I narrow the dates to pre-Jin:
https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/research-tool.html?fq=;fq-Dynasty:http://architecturasinica.org/keyword/Liao-&endDate=1

[2018-03-19 14:11] wsalesky commented on #86
@millertg The way the Dynasty filter works in the data is that each place tagged with the that dynasty gets a tei:relation linking it to the matching dynasty.

Here is an example:
The building dates are encoded like here, these dates are used by the date range slider:
https://github.com/VandyVRC/tcadrt/blob/tcadrt-dev/data/places/buildings/tei/000124.xml#L80

Then the relationship to the dynasty i

[2018-03-19 15:32] millertg commented on #86
I am not sure I completely understand, but it looks like you are pulling the date from the building.csv and then converting it into a dynasty name based on our list. Is that right?

On Mar 19, 2018, at 9:11 AM, Winona Salesky <notifications@github.com<mailto:notifications@github.com>> wrote:

@millertg<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmillertg&data=02%7

[2018-03-19 15:34] wsalesky commented on #86
@millertg Yes, I'm trying to match them. The funky URI's appear when they can not be programmatically matched to anything in that dynast.xml file.

[2018-03-19 15:46] millertg commented on #86
Hmm, this is hard because some of the dynasties are co-temporaneous. I think we will need to pull the dynasty names from the site and building records themselves. Maybe the date of the dynasty from the xml file could follow the name of the dynasty in parenthesis.

Date of building/artifact: 1138 [this would be the numerical date from the building.csv)
Dynasty: Dynasty Name (111-222) [this would be

[2018-03-19 15:53] millertg commented on #86
Also, in columns v and w of the building.csv the numerical beginning and end dates are separated. Can you use those columns so you don't have to deal with the '-'?

[2018-03-19 15:59] wsalesky commented on #86
@millertg We can do that. The only problem comes in when trying to use those filters, if you do not explicitly link to each dynasty in someway, the correct buildings and sites will not show up under the dynasty filter. We could eliminate the dynasty filter and just use the date slider if this gets to complicated. The best would of course to be able to include both, but I'm not sure it can happen p

[2018-03-19 16:23] millertg commented on #86
I think I am still confused. The specific dynasty name for each building is in the spreadsheet, right? I am not sure why it would need to be filtered. Sorry to have to keep asking about this….

On Mar 19, 2018, at 10:59 AM, Winona Salesky <notifications@github.com<mailto:notifications@github.com>> wrote:

@millertg<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmille

[2018-03-19 23:18] wbsealy commented on #81
I've fixed this and posted to develop branch, but will leave this issue open until it is accepted and pushed to prod.

[2018-03-19 23:18] wbsealy commented on #80
I've fixed this and posted to develop branch, but will leave this issue open until it is accepted and pushed to prod.

[2018-03-19 23:19] wbsealy commented on #79
I've fixed this and posted to develop branch, but will leave this issue open until it is accepted and pushed to prod.

[2018-03-21 15:49] wsalesky opened #90 "Reset dates button on date slider is solid green, no text. CSS bug"
@wbsealy Can you take a look at this? I suspect this is a css bug.  You can see if here:
https://architecturasinica-dev.app.vanderbilt.edu/exist/apps/tcadrt/geolocation.html?startDate=0001-01-01&endDate=1504-02-23

[2018-03-22 01:28] wsalesky opened #91 "Date slider slows down browse"

[2018-03-22 02:09] wsalesky commented on #91
Dev is still slow, but this has fixed the speed issue locally and on production. I think dev speed is a separate issue.

[2018-03-22 02:09] #91 closed

[2018-03-22 02:10] wsalesky opened #94 "Update facets"
Update to facets for dynasties.

[2018-03-22 02:10] #94 closed

[2018-03-22 02:46] wsalesky opened #96 "Miss labeling of some Dynasty dates"
@millertg I noticed some mislabeling of some dynasty dates while trying to figure out how to handle BCE dates.

This line is the one that caught my attention:
https://github.com/VandyVRC/tcadrt/blob/master/dynasties.xml#L231

[2018-03-22 03:01] millertg commented on #96
Just fixed that one. I'll take another look at the list.

[2018-03-22 12:35] wsalesky opened #97 "Fix date/dynasty display on individual places"

[2018-11-29 13:59] wsalesky opened #100 "List terms as HTML list elements"
Issue reported by @millertg via email.  XSLT display fix.

[2018-11-29 15:00] #100 closed

[2018-12-10 16:16] davidamichelson opened #101 "On Dev: Change Pictorial Dictionary of Architectural Features title"
Change: Pictorial Dictionary of Architectural Features
to: Pictorial Dictionary of Architectural Terminology

Include all keyword tei documents in the browse/search

[2018-12-10 16:18] davidamichelson opened #102 "Highest Level of Browse/Facet should be these four categories"
Architectural Feature
Building Type
Dynasty
Site Type

List in alphabetical

[2018-12-10 16:37] davidamichelson opened #103 "Change "architectural features" in top menu"
change to "Terminology" (and check with Tracy?)

[2018-12-10 17:03] davidamichelson opened #104 "Multiple Coordinates"
When there are multiple location/geo then select based on @subtype = "preferred"

[2018-12-10 17:04] davidamichelson opened #105 "Footnote for Coordinates"
Please put Lat and Long on same line so the footnote looks like it refers to both.

[2018-12-10 20:08] davidamichelson opened #106 "Masking URLs as URIS"
While the URIS work as expected: http://architecturasinica.org/place/000238

The browse/search feature returns result URLS with the app file structure rather than the proper URI: https://architecturasinica.org/exist/apps/tcadrt/place/000086

[2018-12-11 18:46] wsalesky commented on #101
On dev.

[2018-12-11 18:57] wsalesky commented on #102
Done on dev

[2018-12-11 19:00] wsalesky commented on #106
Fixed on production.

[2018-12-11 19:00] #106 closed

[2018-12-11 19:08] wsalesky commented on #103
Fixed on dev

[2018-12-11 19:08] #97 closed

[2018-12-11 19:08] #96 closed

[2018-12-11 19:09] #90 closed

[2018-12-11 19:09] #86 closed

[2018-12-11 19:10] wsalesky commented on #84
Done

[2018-12-11 19:10] #84 closed

[2018-12-11 19:10] #81 closed

[2018-12-11 19:10] #80 closed

[2018-12-11 19:10] #79 closed

[2018-12-11 19:11] #33 closed

[2018-12-11 19:11] #61 closed

[2018-12-11 19:11] #62 closed

[2018-12-11 19:13] wsalesky commented on #76
Fixed

[2018-12-11 19:13] #76 closed

[2018-12-11 19:14] #72 closed

[2018-12-11 19:15] wsalesky opened #107 "Add bibl module"

[2018-12-12 17:59] wsalesky opened #108 "Include all data in top level keyword search."
Also, include related items in search.

[2018-12-14 15:04] wsalesky commented on #107
Added on dev. Waiting for data.

[2018-12-14 15:45] wsalesky commented on #104
Done on dev, and on Production for Syriaca.org

[2018-12-14 15:46] #104 closed

[2018-12-14 15:46] wsalesky commented on #108
Done on dev

[2018-12-14 15:50] wsalesky commented on #105
Done

[2018-12-14 15:50] #105 closed

[2018-12-20 18:41] wsalesky commented on #107
Added

[2018-12-20 18:41] #107 closed

[2018-12-20 20:54] davidamichelson opened #110 "Convert all HTTP URIS to HTTPS"
@wsalesky It looks like there is a bug in the system. The content negotiation expects HTTPS for bibl URIS: https://architecturasinica.org/bibl/IMF7GRAI

But the copy and paste URI on that page is HTTP: not HTTPS

We have tried to cite this bibl in record: https://architecturasinica.org/place/000001 but it is not populating correctly. Can you check?

Also this same HTTP and HTTPS seems to apply to

[2018-12-20 20:56] davidamichelson commented on #110
So when we cite URIS in the TEI should they be HTTP or HTTPS?

[2018-12-20 20:59] davidamichelson commented on #110
Just to clarify at the bottom of the HTML for https://architecturasinica.org/place/000001 it is not auto populating the footnote from the bibl record as expected.

[2018-12-20 21:01] davidamichelson commented on #110
Also the HTML for https://architecturasinica.org/place/000001 is not inserting a footnote.

[2018-12-20 21:22] wsalesky commented on #110
Originally I had them as HTTPS but the rest of the TEI uses HTTP, so I changed the bibl module. We could do a find and replace on the old data and go forward with HTTPS? I'm fine with either, but need them to be consistent.

[2018-12-21 20:36] davidamichelson commented on #110
@wsalesky Thanks, so I think this needs to be split into two issues. This issue #110 here can be fore Convert all HTTP URIS to HTTPS. Would you please run a find and replace on the app and the data for architecturasinica?

[2018-12-21 20:45] davidamichelson opened #111 "Footnote Data in HTML is not Populating based on the Bibl URI"
This issue was split off of #110

In the record:  https://architecturasinica.org/place/000001 there is a bibl with a valid URI (https://architecturasinica.org/bibl/IMF7GRAI) but in the HTML rendering of https://architecturasinica.org/place/000001 the footnote is not pulling the Author/Title information from the bibl record (https://architecturasinica.org/bibl/IMF7GRAI) and so the footnote is malfo

[2018-12-21 22:30] wsalesky commented on #110
@davidamichelson  @millertg
Done. Please make sure to pull the updated data before doing any editing.

[2018-12-21 22:30] #110 closed

[2018-12-22 05:00] millertg opened #112 "@winona Remove duplicate "Category""
The nesting looks good, but it looks like we have too many "Category"s. Maybe keep "Search Category", and delete "CATEGORY" underneath it.
![screen shot 2018-12-21 at 10 59 43 pm](https://user-images.githubusercontent.com/25234059/50370864-2bc22600-0574-11e9-8e45-48a8d96c15f2.png)
https://architecturasinica.org/terminology.html

[2018-12-22 16:56] wsalesky commented on #111
@davidamichelson @millertg This is fixed.

[2018-12-22 16:56] #111 closed

[2018-12-22 17:01] #112 closed

[2019-01-08 23:04] millertg opened #115 "selecting Architectural Features"
Building, Site, and Dynasty should drop off after refine search to only Architectural Features
![screen shot 2019-01-08 at 4 56 55 pm](https://user-images.githubusercontent.com/25234059/50864301-37c92880-1367-11e9-99c4-ff6213398bb3.png)

[2019-01-09 15:41] wsalesky commented on #115
Fixed.

[2019-01-09 15:41] #115 closed

[2019-01-10 13:54] wsalesky opened #116 "Add back in building and site types to keyword facet."
Request via email.

[2019-01-10 13:59] wsalesky commented on #116
fixed.

[2019-01-10 13:59] #116 closed

[2019-03-11 11:46] wsalesky opened #118 "Featured images are not showing up"
Change to xml schema from @ana to @rendition

[2019-03-11 11:47] #118 closed

[2019-04-16 01:34] millertg opened #119 "update index.html"
@wsalesky I tried to update the homepage, but it doesn't seem to load. https://github.com/VandyVRC/srophe-eXist-app/blob/master/index.html
lines 12-21.
What am I doing wrong?

[2019-04-16 01:54] wsalesky commented on #119
@millertg You can always check the webhooks to see why your commit failed. In this case, the server timed out the request. I don't know why. However I reran the commit and it is now online.

[2019-04-16 01:59] millertg commented on #119
I can?

[2019-04-16 02:56] wsalesky commented on #119
I will email instructions tomorrow

[2019-04-16 08:24] millertg commented on #119
Thanks, Winona. Whenever you get to it. I really appreciate your patient instruction.

Sample footnote to come.

[2019-05-17 18:07] #119 closed

[2019-05-25 16:27] millertg opened #121 "modify logos on about page"
@winona
I added images of logos for our Chinese university sponsors, but I can't seem to size them properly. Can you help/tell me how to resize, and move them to the bottom of the page?

[2019-05-25 16:29] millertg commented on #121
@wsalesky
Or it may be that the site is not updating. I tried to delete one of the images

[2019-05-25 19:35] millertg opened #122 "more/less button displays more only when less is clicked"
@wsalesky
On the architectural terminology page:
https://architecturasinica.org/terminology.html
The more/less button--a great feature, but it doesn't show more when you click more, it only shows more when you then click less.

[2019-05-26 12:19] wsalesky commented on #121
@millertg You can add a height or width attribute to the image tag:
https://github.com/VandyVRC/srophe-eXist-app/blob/master/about.html#L45

[2019-05-26 19:06] wsalesky commented on #122
Fixed. Some of the other JavaScript on the page was interfering with the more/less toggle function.

[2019-05-26 19:06] #122 closed

[2019-05-27 10:31] millertg commented on #122
Thank you!

tm

Sent from my iPhone

On May 27, 2019, at 3:06 AM, Winona Salesky <notifications@github.com<mailto:notifications@github.com>> wrote:

Fixed. Some of the other JavaScript on the page was interfering with the more/less toggle function.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://nam04.safelinks.protection.outlook.c

[2019-05-28 16:09] wsalesky commented on #121
@millertg Checking in. Did you get this fixed or do you still need help?

[2019-05-28 17:12] millertg commented on #121
My internet access on my computer is down. Gotta love China. If you could help with this that would be so wonderful.
Thanks-
Tracy

tm

Sent from my iPhone

On May 29, 2019, at 12:09 AM, Winona Salesky <notifications@github.com<mailto:notifications@github.com>> wrote:

@millertg<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmillertg&data=02%7C01%7Ctracy.g.miller%40

[2019-05-28 20:15] millertg commented on #121
@wsalesky
I have it up, and it seemed to work once, but later changes didn't take. Cleared browsing data, but I am not seeing smaller images.
Also--how can I move this to the bottom of the page?

[2019-05-29 00:27] wsalesky commented on #121
I will get the most recent changes up. Do you want all the sponsors at the bottom of the page or just the new ones?

[2019-05-29 12:48] millertg commented on #121
Thank you. I think all of them would be best. Would you mind putting them on the bottom of the home page as well?

Thanks a million!

tm

Sent from my iPhone

On May 29, 2019, at 8:28 AM, Winona Salesky <notifications@github.com<mailto:notifications@github.com>> wrote:

I will get the most recent changes up. Do you want all the sponsors at the bottom of the page or just the new ones?

—
You are re

[2019-05-29 13:31] wsalesky commented on #121
@millertg I have updated them, how do they look now? I can make changes if you want them styled differently.

[2019-05-29 23:46] millertg commented on #121
They look great. I only worry that they are too far away from the main body. I fear people won’t scroll down. Maybe I should change the photo on the about page to one with a horizontal orientation.
Thanks
tm

Sent from my iPhone

On May 29, 2019, at 9:31 PM, Winona Salesky <notifications@github.com<mailto:notifications@github.com>> wrote:

@millertg<https://nam04.safelinks.protection.outlook.com/?

[2019-05-30 23:27] wsalesky commented on #121
@millertg Okay. I think this issue is resolved. Let me know if you want help making any other changes.

[2019-05-30 23:27] #121 closed

[2020-05-13 19:43] wsalesky opened #123 "Add tsv output for keywords"

[2020-05-18 17:05] wsalesky commented on #123
Done

[2020-05-18 17:05] #123 closed

[2020-06-05 17:35] wsalesky opened #125 "Update application for eXist 5.0"
Update facets and additional out of date XQuery code.

[2020-06-09 02:48] millertg opened #126 "keyword showing in its own external relationship field"
@wsalesky some of the keywords list themselves in the external relationship field, but not all of them. For examples where this is happening see:
https://architecturasinica.org/keyword/k000005
https://architecturasinica.org/keyword/k000009
https://architecturasinica.org/keyword/k000011

[2020-06-09 02:54] millertg opened #127 "show latest modification in "How to Cite this Entry" footer"
@wsalesky
I am trying to remember to add a date to any revision to the TEI that goes beyond fixing typos using <revisionDesc>. You can see this in the one I worked on most recently: https://github.com/VandyVRC/tcadrt/blob/master/data/keywords/tei/k000011.xml#L58. But I don’t see the updated date under “How to Cite This Entry” at the bottom of the page. Would it be possible to have the date display

[2020-06-09 12:23] wsalesky commented on #127
Fixed.

[2020-06-09 12:23] #127 closed

[2020-06-09 15:43] wsalesky commented on #126
Fixed

[2020-06-09 15:43] #126 closed

[2020-06-09 17:59] millertg opened #128 "Change in displaying entry author in citation"
@wsalesky
For the "Bibliography" in citation information, can we display the individual/group responsible for initial research as the author?

So in https://architecturasinica.org/keyword/k000005
The citation is:
![image](https://user-images.githubusercontent.com/25234059/84182756-82fdd400-aa50-11ea-9b08-e8f1cbd9bfce.png)

But it would be better to identify the contributing author as the entry aut

[2020-06-09 19:13] wsalesky commented on #128
Done.

[2020-06-09 19:13] #128 closed

[2020-06-11 19:26] millertg opened #129 "authorial and editorial responsibility"
@wsalesky
The Authorial and Editorial Responsibility section is still missing information (see Screenshot).
The first line should have "Architectura Sinica" after General Editor'

e.g. Tracy Miller, general editor, Architectura Sinica

The second line should have either "Dynamic Site Archive" or "Architectural Terminology" depending on whether the term is a site/building (these all begin with 000)

[2020-06-14 13:56] millertg opened #130 "keyword search fix"
@wsalesky
As part of the keyword bug-fixes, the time periods need special attention. The search for a dynasty does not return accurate results in the Dynamic Site Archive. Buildings listed are not correct for the search, "hits" are enumerated which feature the word appears in is not specified. See screenshot for a search for keyword "Tang"
![Screen Shot 2020-06-14 at 8 50 02 AM](https://user-image

[2020-06-14 15:10] wsalesky commented on #130
I will take a look.

[2020-06-18 16:32] millertg commented on #129
See new issue for changes in the second line--we want to have an associate editor, Architectura Sinica, instead of an editor for Architectural Terminology

[2020-06-18 16:32] #129 closed

[2020-06-18 16:34] millertg opened #131 "authorial and editorial responsibility pt. 2"
@wsalesky
![image](https://user-images.githubusercontent.com/25234059/85047586-a6fb9c80-b157-11ea-8c40-f7d21d6cfa9a.png)

[2020-06-18 16:51] millertg opened #132 "place/building to artifact(s)"
We want to homogenize the display of links in the "contains" section to display the word "artifact(s)" instead of both "buildings" and "places"

Concern:
@wsalesky
In the places folder for the Dynamic Site Archive the term for the "contains" reference link is different for different pages.

Solution request:
We think that the single term "artifact(s)" would work better for everything, as it will a

[2020-06-22 01:13] millertg opened #133 "location of <note type="Annotation">"
@wsalesky
My colleagues in Nanjing would like to use @type "Annotation" for the longer description, but I have moved away from it because it seems to be appearing in alphabetical order, above other types of notes (e.g. Scope Notes, Notes, Note (brief), Note (full), etc.). Can we change this so that Annotation appears in the position it appears in the TEI? That is, underneath the Scope Note?
See, i

[2020-06-24 16:18] millertg opened #134 "multiple contributors"
@wsalesky @shubenda
Can we fix the authorial display so that we avoid singular nouns?

For example:
Entry Title: 扶壁栱 fúbìgǒng

Authorial and Editorial Responsibility:
Tracy Miller, editor, Architectura Sinica
**REN Sijie 任思捷, and YANG Wantian, entry contributor, “ 扶壁栱 fúbìgǒng”**

Is it possible to have the one in bold displayed as below to avoid singular and plural problem?
REN Sijie 任思捷,  entry

[2020-06-25 02:36] wsalesky commented on #134
@millertg  Yes, I will take a look. We could also add an s to the first version when there is more than 1 contributor. Let me know your preference.

[2020-06-25 15:39] millertg commented on #134
@wsalesky @shubenda
That would be great! I like displaying fewer lines.

[2020-07-16 14:38] wsalesky commented on #134
Fixed.

[2020-07-16 14:38] #134 closed

[2020-07-16 15:04] millertg commented on #134
I am still seeing "contributor" as singular in fubigong
https://architecturasinica.org/keyword/k000029
do you see "contributors"?

[2020-07-16 15:08] shubenda commented on #134
I saw contributor as singular too.

Yuh-Fen

From: Tracy Miller <notifications@github.com>
Sent: Thursday, July 16, 2020 10:05 AM
To: VandyVRC/srophe-eXist-app <srophe-eXist-app@noreply.github.com>
Cc: Benda, Yuh-Fen <yuh-fen.benda@Vanderbilt.Edu>; Mention <mention@noreply.github.com>
Subject: Re: [VandyVRC/srophe-eXist-app] multiple contributors (#134)

I am still seeing "contributor" as singular

[2020-07-16 16:50] wsalesky commented on #134
Sorry this should be fixed now.

[2020-07-16 16:51] wsalesky commented on #132
Fixed.

[2020-07-16 16:51] #132 closed

[2020-07-16 17:07] wsalesky commented on #131
Done.

[2020-07-16 17:07] #131 closed

[2020-07-16 17:12] wsalesky commented on #133
Fixed. Removed sorting on label. Should appear in the order they are listed in TEI.

[2020-07-16 17:12] #133 closed

[2020-08-06 15:53] millertg opened #136 "tsv output doesn't include more than two otherNote fields"
@wsalesky
![image](https://user-images.githubusercontent.com/25234059/89553335-02025500-d7d3-11ea-9a6a-39547ee57fb3.png)

![Screen Shot 2020-08-06 at 10 51 23 AM](https://user-images.githubusercontent.com/25234059/89553171-ce272f80-d7d2-11ea-8d96-573a8685009d.png)

[2020-08-06 15:59] wsalesky commented on #136
@millertg The disadvantage to TSV is that it is fixed fields, so I can add more notes but I would need to know how many. Do you have a maximum number? Also, I can add the names if I know ahead of time what they are. Do you have a list? If not I can generate a list of note names. Does each note type have only one note? If more than one note for each type what would you guess is the maximum #?
Thank

[2020-08-06 16:17] millertg commented on #136
each type has only one note, but within each note are multiple languages, marked with the appropriate language element. Would it be possible to have the languages separated out as well? that is: noteBriefEn, noteBriefzh-HanT, etc.?

[2020-08-06 16:18] wsalesky commented on #136
@millertg Yes, I can make that happen. Will let you know when it is ready.

[2020-08-06 16:21] millertg commented on #136
Thanks!
one more thing: <note type="related concepts"> will have multiples, maybe as many as 10

[2020-08-06 16:22] millertg commented on #136
I mean: one more thing: <note type="related concept"> will have multiples, maybe as many as 10

[2020-08-13 16:01] wsalesky commented on #136
@millertg Sorry for the delay. Can you take a look at the new format and tell me if I have caught everything? Let me know if I missed any note types? Thanks!

[2020-08-13 18:40] millertg commented on #136
@wsalesky  I think that is all of the note columns (and more :-)). A few questions--see https://architecturasinica.org/keyword/k000005.tei--for an example.
1. Why does noteBrief-en also include zh-hant text? That is- can I tag another language without adding another note element?
2. for the notes in Chinese text, we are only using zh-hant (traditional characters), can we have that, not zh-hans
3.

[2020-08-13 18:40] millertg commented on #136
maybe a column for name type=team?

[2020-08-13 20:04] wsalesky commented on #136
@millertg
1. I miss interpreted how the language on the note elements worked.  I did not realize they were multiple languages in the same note. I will have to fix that so each outputs as a separate note field.
2. Yes, I will make that change.
3. Yes, I will make that change as will.

Look for updates tomorrow.

[2020-08-14 14:59] wsalesky commented on #136
@millertg How about now?

[2020-08-14 20:41] millertg commented on #136
@wsalesky I get the English text, but not the part tagged zh-hant

[2020-08-14 21:28] millertg commented on #136
uniquely, I do see separated text for the output on: https://architecturasinica.org/keyword/k000113
![Screen Shot 2020-08-14 at 4 27 16 PM](https://user-images.githubusercontent.com/25234059/90294021-0f5eb580-de4b-11ea-9802-662212c44cdc.png)

[2020-08-14 21:48] wsalesky commented on #136
@millertg okay, I will take another look.

[2020-08-19 16:20] millertg opened #137 "update keyword search to include individuals in responsibility statements?"
@wsalesky When updating the keyword search function, is would it be possible to also include searches of respStmt elements for particular teams or individuals who had worked on an entry?

[2020-08-19 17:57] millertg opened #138 "order of dynasties on Dynamic Site Archive"
@wsalesky can we change the display of the dynasties on ArS's Dynamic Site Archive? They should appear in chronological order, rather than # of hits. Also, they would be better listed last, after Site Type, Building Type, and Architectural Feature. Thanks!!

![Screen Shot 2020-08-19 at 12 52 25 PM](https://user-images.githubusercontent.com/25234059/90672130-46521400-e21b-11ea-8d14-7e25fe814cd2.png

[2020-08-19 18:54] wsalesky commented on #137
Yes we can do that. Do you want these to just appear in the keyword search, or do you want a new field for the respStmt?

[2020-08-19 18:54] wsalesky commented on #138
@millertg Yes we can do that.

[2020-08-19 20:08] millertg commented on #138
Great!

[2020-08-19 20:09] millertg commented on #137
I think just appearing in the keyword search is fine

[2020-08-23 20:15] millertg commented on #136
Just tested by changing the to lowercase h in the note field on https://architecturasinica.org/keyword/k000011 and it worked.
We tried to follow the formatting used under "term", which has an uppercase Hant, but obviously mistakes were made. Would it be better to make the search non-case sensitive? Or should I work to homogenize the attribute?

[2020-08-23 20:58] wsalesky commented on #136
@millertg it would be best if they were standardized one way or another. Just let me know what variation you use.

[2020-08-23 21:03] millertg commented on #136
@wsalesky Most of them were with the uppercase H, so can we go with zh-Hant and zh-Hans across the board?

[2020-08-23 22:15] wsalesky commented on #136
@millertg Yes, I will adjust the code.

[2020-08-23 22:36] millertg commented on #136
@wsalesky Thank you! I will adjust my entries.

[2020-08-24 13:32] wsalesky commented on #136
@millertg I'm fixing this today. Can you clarify, do you need notes with both lang = 'zh-Hant' and lang = 'zh-Hans', the current version only has 'zh-Hant' but I can add 'zh-Hans' if needed.

[2020-08-24 14:26] millertg commented on #136
@wsalesky at present, we only have notes in 'zh-Hant'. zh-Hans should only be a 'term' option.
Thanks!!

[2020-08-24 14:29] wsalesky commented on #136
@millertg great! That make my life easier! Please try the updated code and tell me if it gives you everything you need.

[2020-08-24 14:44] millertg commented on #136
@wsalesky ok, I see one more (sorry!). We need a column for the english literal translation. It is tagged:
term xml:lang="en" type="literal_translation"
Thanks, again!

[2020-08-24 14:51] wsalesky commented on #136
@millertg another note?

[2020-08-24 14:58] millertg commented on #136
@wsalesky no, a second english term. Right now it is appearing as the first 'term-other', but it is mixed with different 'others'. We should have a literal English translation for each term (still working on it, so pulling that out would be really helpful).

[2020-08-24 17:07] wsalesky commented on #136
@millertg please test the new addition. Thanks

[2020-08-24 19:36] millertg commented on #136
@wsalesky It looks like it is working! Thank you! I think we can close this issue.

[2020-08-24 19:36] #136 closed

[2020-09-11 16:45] millertg opened #139 "irregular display of Wade-Giles"
@wsalesky
@shubenda
<language ident="zh-latn-wadegile">Wade-Giles</language>

<term xml:id="term-feature_name-5" xml:lang="zh-latn-wadegile">ts'ao</term>
Currently displays:
 ts'ao (zh-latn-wadegile)

To be consistent with all other languages, it should  display as:
ts'ao (Wade-Giles)
see: https://architecturasinica.org/keyword/k000005

[2020-09-17 12:45] wsalesky commented on #139
@millertg This seems to be displaying as expected?
<img width="236" alt="Screen Shot 2020-09-17 at 8 44 50 AM" src="https://user-images.githubusercontent.com/1168206/93472044-2701e180-f8c2-11ea-8683-ef16153b8ae0.png">

[2020-09-17 13:05] millertg commented on #139
@wsalesky Yes! Thank you

[2020-09-17 14:07] shubenda commented on #139
@wsalesky
@millertg
this doesn't appear to be fixed.
we definite WG as this: <language ident="zh-latn-wadegile">Wade-Giles</language>
shouldn't the TEI be:
<term xml:id="term-feature_name-5" xml:lang="zh-latn-wadegile">ts'ao</term>
not:
<term xml:id="term-feature_name-5" xml:lang="Wade-Giles">ts'ao</term>
please see e.g.
https://architecturasinica.org/place/000100
it was coded consistently with ot

[2020-09-17 14:12] wsalesky commented on #139
@shubenda @millertg
I see the problem. There are at least two encodings for Wade-Giles:

This one (causes the poor display):
`<placeName xml:id="name000100-3" type="site-name" xml:lang="zh-latn-wadegile">Hsiao-chang-ts'un Pi-yün-ssu</placeName>`

and this one (correct display):
`<term xml:id="term-feature_name-5" xml:lang="Wade-Giles">ts'ao</term>`

Do you want me to code for both options? Or do y

[2020-09-17 14:18] shubenda commented on #139
We will change the data.

To be consistent how other languages were coded, e will go with this one (The one caused the poor display):
<placeName xml:id="name000100-3" type="site-name" xml:lang="zh-latn-wadegile">Hsiao-chang-ts'un Pi-yün-ssu</placeName>

Thank you, Winona!

Yuh-Fen
________________________________
From: Winona Salesky <notifications@github.com>
Sent: Thursday, September 17, 2020 9:

[2020-09-19 02:30] millertg opened #140 "pinyin no longer displaying on keyword (terminology) pages"
@wsalesky
I just noticed that the pinyin is no longer showing next to the Chinese text with the term titles. It should display with Chinese characters *and* pinyin.
<img width="788" alt="Screen Shot 2020-09-18 at 9 27 14 PM" src="https://user-images.githubusercontent.com/25234059/93657202-29fdee80-f9f6-11ea-8958-f6fd52a37f62.png">
Thanks!

[2020-09-21 13:36] wsalesky commented on #139
Fixed

[2020-09-21 13:36] #139 closed

[2020-09-21 13:44] wsalesky commented on #140
Fixed

[2020-09-21 13:44] #140 closed

[2020-09-23 14:36] wsalesky opened #142 "tsv for buildings and sites"

[2020-09-23 14:41] wsalesky commented on #142
@millertg This is ready for testing, just swap in 'buildings' or 'sites' for the collection parameter, rather then 'keywords'

[2020-09-23 15:48] millertg opened #144 "500 tomcat error"
@wsalesky we were working with the dates of Anchansi https://architecturasinica.org/exist/apps/tcadrt/place/000001
and are now getting a 500 Tomcat error. Do you know how to fix this?

<img width="1024" alt="Screen Shot 2020-09-23 at 10 43 17 AM" src="https://user-images.githubusercontent.com/25234059/94036696-35507180-fd8a-11ea-81b0-612155ce0d82.png">

[2020-09-23 15:55] wsalesky commented on #144
Sorry! That was my fault. It should be fixed now.

On Wed, Sep 23, 2020 at 11:48 AM Tracy Miller <notifications@github.com>
wrote:

[2020-09-23 15:56] millertg commented on #144
Whew! We were wondering what we could possibly have done 😊.
Thanks-
T

From: Winona Salesky <notifications@github.com>
Reply-To: VandyVRC/srophe-eXist-app <reply@reply.github.com>
Date: Wednesday, September 23, 2020 at 10:55 AM
To: VandyVRC/srophe-eXist-app <srophe-eXist-app@noreply.github.com>
Cc: "Miller, Tracy G" <tracy.g.miller@Vanderbilt.Edu>, Author <author@noreply.github.com>
Subject: Re: [

[2020-09-23 16:07] millertg commented on #144
When I look for the TEI, I get the same error:
HTTP Status 500 - An error occurred while processing request to /exist/apps/tcadrt/place/000002.tei: exerr:ERROR XPTY0004: The actual cardinality for parameter 1 does not match the cardinality declared in the function's signature: concat($atomizable-values as xs:anyAtomicType?, ...) xs:string?. Expected cardinality: zero or one, got 5. [at line 49, co

[2020-09-23 16:22] wsalesky commented on #144
Fixed.

[2020-09-23 16:23] millertg commented on #142
@wsalesky Can we have more "building-name-other"? We need up to 10.

[2020-09-24 00:17] #144 closed

[2020-09-24 18:38] wsalesky commented on #142
@millertg just for buildings? Or buildings and sites?

[2020-09-24 21:59] millertg commented on #142
@wsalesky For both, just to be safe. The large numbers are to accommodate different linguistic representations of each alternative name.

[2020-09-25 14:28] wsalesky commented on #142
@millertg this has been updated. Let me know if you need anything else.

[2020-09-25 14:28] #142 closed

[2020-09-25 15:45] millertg opened #148 "term-other"
@wsalesky
I hate to ask this, but for our keywords, we also need more "term-other"; can we make this up to 10 as well? Thank you!

[2020-09-25 17:30] wsalesky commented on #148
Added!

[2020-09-25 17:30] #148 closed

[2020-09-25 17:30] #125 closed

[2020-11-04 19:45] millertg opened #150 "Bibliography search page broken"
@wsalesky the spaces for the refined search categories don't search the data. I get 0 results when searching my name, for example. Yet we have three of my publications in our bibliography, retrieved by searching in the top bar search window. Can we fix this so that we can make sure we don't add duplicate bibliographic records?

![Screen Shot 2020-11-04 at 1 42 46 PM](https://user-images.githubuser

[2020-11-05 17:44] wsalesky commented on #150
@millertg The search has been fixed. Please let me know if it is not working as expected. I will look into the bibl import function and see what is going wrong.

[2020-11-05 17:51] millertg commented on #150
Thank you for looking into this. It is working better, but I don't get any results when I search for publication place or publisher name. I tried both Chinese and English and neither returned a search result.

[2020-11-05 18:42] wsalesky commented on #150
@millertg how does the search look now?

[2020-11-05 21:07] millertg commented on #150
@wsalesky Much better!

[2020-11-05 21:07] #150 closed

[2020-11-06 19:54] millertg opened #154 "keyword search broken"
@wsalesky keyword search in menu bar, dynamic site archive, and architectural terminology no longer working

[2020-11-06 21:36] wsalesky commented on #154
So sorry! my fix for the bibl search broke everything else. Fixed now.

[2020-11-06 21:36] #154 closed

[2020-11-18 14:34] wsalesky opened #157 "Bug in map tiles"
reported in email.

[2020-12-08 16:22] millertg opened #159 "Site 000285 returned error"
@wsalesky
the pages for Lingyinsi are showing errors. Can you tell what the cause might be?
https://architecturasinica.org/place/000285
https://architecturasinica.org/place/000285a
https://architecturasinica.org/place/000285b
![Screen Shot 2020-12-08 at 10 21 49 AM](https://user-images.githubusercontent.com/25234059/101510178-3895db00-393f-11eb-82a1-2a90ed2505e6.png)

[2020-12-08 18:08] wsalesky commented on #159
fixed.

[2020-12-08 18:08] #159 closed

[2020-12-09 16:18] millertg commented on #159
Thank you!

[2020-12-09 16:40] millertg opened #160 "Terminology search and display unpredictable"
@wsalesky
Are you working on the terminology section https://architecturasinica.org/terminology.html? The page has been behaving strangely.

If you just click on the link in the top bar you see the first page of terms, but the nav bar on the left doesn't include much any more:
![Screen Shot 2020-12-09 at 10 03 06 AM](https://user-images.githubusercontent.com/25234059/101658367-90e5df00-3a0a-11eb-9

[2020-12-09 17:07] wsalesky commented on #160
@millertg I will take a look.

[2020-12-10 21:55] wsalesky commented on #160
@millertg Please take a look and let me know if this is fixed.

[2020-12-11 04:59] millertg commented on #160
This is better, but strangely, when you go to the next page, it skips some of the terms. see the following screenshots:
Page 1 ends at 20
![Screen Shot 2020-12-10 at 5 24 20 PM](https://user-images.githubusercontent.com/25234059/101865180-35ffd500-3b3b-11eb-8691-358bb31b7df7.png)

But look at Page 2--it starts at 25:
![Screen Shot 2020-12-10 at 5 24 33 PM](https://user-images.githubusercontent.com

[2020-12-11 14:19] wsalesky commented on #160
Opps! Should be fixed.

[2020-12-11 14:19] #157 closed

[2020-12-11 15:41] millertg commented on #160
@wsalesky Thank you!

[2020-12-16 18:11] #160 closed

[2020-12-16 18:13] millertg opened #161 "terrain map display not loading"
@wsalesky Since 12/15 the terrain display on the map is not loading
![Screen Shot 2020-12-16 at 10 48 24 AM](https://user-images.githubusercontent.com/25234059/102388963-1c75e780-3f98-11eb-9a8f-345338e42db1.png)

[2020-12-17 14:29] wsalesky commented on #161
@millertg So sorry! There have been some odd things happening with the MapBox tiles. I keep having to switch base tiles. I will do some more research on best tiles to use, but for now at least they are rendering.

[2020-12-17 14:29] #161 closed

[2020-12-31 18:30] millertg opened #163 ""place type" in Dynamic Site Archive"
@wsalesky @shubenda
Winona--do you know how to remove and/or modify the "place type" that appears at the top of the Dynamic Site Archive pages? I don't remember seeing it before, but it might be useful, if we could use this to add site and building types linked to the thesaurus (e.g. monastery, pagoda) at the top of the page. But I don't know where it appears in the TEI.

See, for example:
https:/

[2020-12-31 18:35] wsalesky commented on #163
@millertg You can remove this line:
https://github.com/VandyVRC/srophe-eXist-app/blob/master/geo/record.html#L6

(Or I can if you do not want to edit the HTML).

[2020-12-31 19:17] millertg commented on #163
Done--thank you!

[2020-12-31 19:17] #163 closed

[2021-01-20 00:31] millertg opened #164 "display "Pinyin without tones""
@wsalesky
We would like to include Pinyin romanization without tones for the Thesaurus. Can you make the tag: zh-latn-pinyin-nt display as (Pinyin without tones)?

![Screen Shot 2021-01-19 at 6 15 58 PM](https://user-images.githubusercontent.com/25234059/105110278-e5599100-5a83-11eb-87a4-4e19894c7d9d.png)

We have  the following language identifier:
<language ident="zh-latn-pinyin-nt">Pinyin witho

[2021-01-20 19:03] #164 closed

[2021-01-20 19:04] wsalesky opened #166 "Change how local:expand-lang() function works"
Check to see if profileDesc contains need info before using hardcoded list.

[2021-03-07 19:29] millertg opened #172 "displaying "content-author""
@wsalesky
Can the "content-author" be listed as the Author under the AS "How to cite this entry"? Previously only the "creator" was displayed as an author of a file in AS. We added "content-author" as a new role in our responsibility statement, and the display no longer shows the "content-author" as the author of the entry for citation purposes.  See attached.

![Screen Shot 2021-03-07 at 1 14 55

[2021-03-08 02:11] millertg opened #173 "citation display on place and keyword entries"
Add year of publication, pinyin author names, and pinyin titles to Works Cited for both keyword and place entries

[2021-03-15 14:07] wsalesky commented on #172
Fixed.

[2021-03-15 14:07] #172 closed

[2021-03-16 00:31] millertg opened #177 "create delete function on AS bibliography"
@wsalesky
I can delete record in the AS library in Zotero, but when I update the AS library, the bibliographic record won't delete. This leads to serious confusion when we try to add a source to a new record.

For example, I deleted the extra record for an article by Susan Erickson earlier today, but it is still available for selection as a source in the forms. See attached.
![Screen Shot 2021-03-

[2021-03-16 15:34] wsalesky commented on #177
Okay, I will take a look.

[2021-03-16 19:15] millertg opened #178 "sources section for forms--reveal cited range in source display"
@wsalesky
I think we could begin the addition of each term by adding the sources in the "Sources" section, then selecting them for each term line and note/gloss line.

But, when I add the cited range (pp or juan/chapter) for a source, it isn't visible when I then go to choose the source for an entry. Thus, if I want to cite different chapters from the same book, I would not be able to select those

[2021-03-23 15:50] wsalesky commented on #178
@millertg How does it look now?

[2021-03-23 17:12] millertg commented on #178
great to be able to see the cited range! Two things:
1. when citing different ranges in the same source for a single entry, the program remembers the first one as well. Here I selected the same source twice, but with different chapters.
![Screen Shot 2021-03-23 at 12 04 44 PM](https://user-images.githubusercontent.com/25234059/112187919-88d43880-8bd0-11eb-9b35-bf6fb9c772c4.png)

When I went to sel

[2021-03-23 17:39] wsalesky commented on #178
Ops, I will take a look. Also,  I will add the controlled units for cited range, and add them to the display.

[2021-03-23 18:16] wsalesky commented on #178
@millertg How does it look now?

[2021-03-23 18:18] wsalesky commented on #173
@millertg Is this for me? Where am I adding this? (Screen shot, with handy arrows are always good)

[2021-03-23 19:05] millertg commented on #178
Something is strange with the the display of the source in terms, at least after you add one source:
![Screen Shot 2021-03-23 at 1 40 39 PM](https://user-images.githubusercontent.com/25234059/112203119-300c9c00-8be0-11eb-9b80-6c6434f6e8c9.png)
The units box isn't displaying possibilities
![Screen Shot 2021-03-23 at 1 37 49 PM](https://user-images.githubusercontent.com/25234059/112203373-7a8e1880-8

[2021-03-24 14:13] wsalesky commented on #178
@millertg How does it look now?

[2021-03-27 19:05] millertg commented on #178
@wsalesky It is getting much better! But, I did see a glitch with the latest test--the Chinese characters in the title statement (line 6) didn't match what I entered, even though the pinyin did (see attached). Maybe the form remembers something from a previous use? The legacy characters are from the k000001 (https://architecturasinica.org/keyword/k000001), if
 that might help explain things.
![Scr

[2021-04-01 13:53] wsalesky commented on #178
@millertg Finally getting back to this, can you send me the generated XML that is pictured above? You can send via email. It will help me debug what is going on here.

Thanks!

[2021-04-01 14:48] millertg commented on #178
Hi Winona-
It is attached.

Also, I imagine that we will need to do some hand editing of these xml files before submitting them. In that case, it would work much better if the TEI generated by the form matched the records already in the system.

Here is a URI of the term in this particular test, using the actual sources we will be using for the gloss.
https://architecturasinica.org/keyword/k000172

[2021-04-02 20:27] wsalesky commented on #178
Okay, I think I have fixed the title info. I will get back to you on the other part of the issue.

[2021-05-19 14:46] wsalesky opened #191 "Fix image css."
From email exchange

[2021-05-21 13:37] #191 closed

[2021-05-21 13:38] wsalesky opened #194 "Keyword display"
Make keyword content take up whole page if there are no external relationships for the right hand column.

[2021-05-26 22:35] millertg opened #199 "bibliography search needs to include Extra field in Zotero for pinyinLC, pinyinCP, zh-Hans, and zh-Hant"
@wsalesky @shubenda
We are adding additional scripts (pinyin) in the Extra field of Zotero. Can you make it so that our site will search for data in those fields? Also, do we need to add the Traditional characters to simplified entries (and vice-versa) for the search to be able to find them?

They are:
Book pinyinLC:
Book pinyinCP:
Title pinyinLC:
Title pinyinCP:
Journal pinyinLC:
Journal pinyinCP

[2021-05-27 14:12] wsalesky opened #200 "external relationships list in keywords--problems with "More""
From: https://github.com/VandyVRC/tcadrt/issues/408
This is a code issue, not a data issue.

[2021-05-27 18:02] wsalesky commented on #200
Fixed

[2021-05-27 18:02] #200 closed

[2021-05-31 20:41] millertg opened #202 "doubling in architectural terminology display"
@wsalesky @shubenda
Can we make it so that terms marked as "alternate" are not displayed in the terminology list? Currently, terminology display pulls, I think, from zh-pinyin. when we have alternates, it will combine them. It has done this with two:
https://architecturasinica.org/keyword/k000024
and
https://architecturasinica.org/keyword/k000023
<img width="509" alt="Screen Shot 2021-05-31 at 3 3

[2021-06-02 13:52] wsalesky commented on #202
@millertg what is that first screen shot from? A search? If you could past in a link that would be great. thanks

[2021-06-02 15:37] millertg commented on #202
@wsalesky It was from a search:
https://architecturasinica.org/terminology.html?q=touxinzao&term=

[2021-06-02 17:24] wsalesky commented on #202
@millertg I think this issue has been resolved. If not please re-open and let me know what I missed. Thanks!

[2021-06-02 17:26] #194 closed

[2021-06-02 17:32] wsalesky commented on #199
@millertg
What do each of those above fields map to in the TEI?
Also, can I get some sample records that are using the fields in Zotero, I will need to run a few test runs to get everything in the right spot.
Thanks!

[2021-06-02 18:43] millertg commented on #202
The alternates have been removed from the index (which is great), but we can no longer see them in the display.
![Screen Shot 2021-06-02 at 1 19 12 PM](https://user-images.githubusercontent.com/25234059/120535346-7e8ca280-c3a8-11eb-9aed-13435da14d03.png)

[2021-06-02 18:45] wsalesky commented on #202
@millertg Sorry! I misread the issue and thought that was what you wanted. i will put them back in the display.

[2021-06-02 18:52] millertg commented on #202
That’s ok! They were just showing together with the other version, so before as search for jixinzao resulte in:
jixinzaojixin

Rather than
jixinzao
jixin

Do we need to have a separate record for an alternate rendering of a “concept”/ term? We had done that, and wanted to simplify since the two different terms are the same concept. But the Getty has two records and cross-references them. Perhaps t

[2021-06-08 19:22] #202 closed

[2021-06-11 18:21] millertg opened #206 "bibliography search not functioning"
@wsalesky something is broken, my searches yield 0 results
![Screen Shot 2021-06-11 at 1 22 01 PM](https://user-images.githubusercontent.com/25234059/121732632-1892d000-cab8-11eb-9274-1c47f82d0789.png)
![Screen Shot 2021-06-11 at 1 18 12 PM](https://user-images.githubusercontent.com/25234059/121732638-1a5c9380-cab8-11eb-8c30-214697fa0187.png)

[2021-06-11 19:29] wsalesky commented on #206
fixed.

[2021-06-11 19:29] #206 closed

[2021-06-25 02:08] millertg commented on #199
@wsalesky @shubenda
Here are a couple that might work. Thanks!
https://architecturasinica.org/keyword/k000103
https://architecturasinica.org/keyword/k000004

[2021-06-25 02:32] millertg opened #208 "adding date to bibliographic entry"
@wsalesky @shubenda
Also, now that we are using a lot of in-text citation, it would be very helpful to have the date of the citation listed in the bibliographic entry. We are generally following Chicago, Author-Date style. Given that we have a link, we can just use:
Author surname Author pinyin surname (year), title Title pinyinCP, pp.#

Book titles should be in italics, article titles in quotatio

[2021-06-25 16:28] wsalesky commented on #199
@millertg
Which bibliography records? (You can even send me the link to the Zotero record if you want).

[2021-06-25 18:24] millertg commented on #199
Can you write it so that it will apply to any record with Chinese authors and titles? Or non-Roman script authors and titles?

[2021-06-27 17:35] wsalesky commented on #199
@millertg Yes. I just need some examples to make sure the code is working correctly before I move it to the server.

[2021-06-27 18:58] millertg commented on #199
@wsalesky Ok. Here are three links to records in Zotero--2 through AS, and one directly to Zotero. Is this what you need?
https://www.zotero.org/groups/2267085/architecturasinica/items/CT4CSDB8
https://www.zotero.org/groups/2267085/architecturasinica/items/XRBQVWIX
https://www.zotero.org/groups/2267085/items/ZIPDD3MI
 https://www.zotero.org/groups/2267085/items/WHTF8Y2G

[2021-06-28 13:41] wsalesky commented on #199
@millertg I think I have a working solution, I will update the bibliography records tonight and you can test it tomorrow and see if it is accomplishing what you want.

[2021-06-29 02:34] wsalesky commented on #199
@millertg The bibliography records have been updated. Please let me know if this resolves the issue.

[2021-06-30 04:05] millertg commented on #199
@wsalesky
Did you already code to search for "Book" and "Journal" titles?

In my ignorance of Zotero, I didn't realize that you were pulling the Publication type from them. So, instead of distinguishing book or journal titles in the Extra field (which we haven't started doing yet), maybe we should code for publication instead-since that automatically appears as a category once one selects Journal

[2021-06-30 04:19] millertg commented on #199
@wsalesky
I added the Pub pinyinLC and CP to this record:
https://architecturasinica.org/bibl/X76NQT7M
If you want to test it. Below is what it looks like now.
Thanks!!!
![Screen Shot 2021-06-29 at 11 16 50 PM](https://user-images.githubusercontent.com/25234059/123901322-5739de80-d930-11eb-838d-6861aa4b8fb4.png)

[2021-06-30 13:10] wsalesky commented on #199
@millertg Please check now. I think I got it right this time!

[2021-06-30 14:05] millertg commented on #208
@wsalesky This is confusing--let me start a new "issue"

[2021-06-30 14:05] #208 closed

[2021-06-30 14:12] millertg opened #209 "Modifying Works Cited display"
@wsalesky @shubenda
For the Works Cited at the bottom of the page, can we follow a modified Chicago Author-Date "Reference List" style? That is, in notes, use:
Book:
Author Surname. Date. Title (italics if roman script book; regular font for Chinese titles), citation range.

Article or part of book:
Author Surname. Date. "Title," citation range.
![Screen Shot 2021-06-30 at 8 44 34 AM](https://user

[2021-06-30 14:42] millertg commented on #199
It is much closer!!
![Screen Shot 2021-06-30 at 9 37 24 AM](https://user-images.githubusercontent.com/25234059/123980722-61d39280-d987-11eb-9de3-7523fd85ce12.png)

[2021-06-30 15:53] wsalesky commented on #199
@millertg This should do it.

[2021-06-30 16:04] millertg commented on #199
Almost--I was counting on the publication hierarchy! Sorry...

![Screen Shot 2021-06-30 at 10 56 21 AM](https://user-images.githubusercontent.com/25234059/123994246-ccd69680-d992-11eb-84ab-df3a2bd2d1c7.png)

[2021-07-01 15:00] wsalesky commented on #199
@millertg I updated the TEI generation and re ran the data. It looks like there may be an error in the Zotero data that if fixed should get the display you like:
https://www.zotero.org/groups/2267085/architecturasinica/items/ZXZBG7W5

There is no 'Pub pinyinLC', the XQuery is looking for exact matches, and will not find anything that does not match the pattern above. So try correcting the record,

[2021-07-01 19:12] millertg commented on #199
@wsalesky
I added some in, and it works! Yay!
Quick question--would it be hard to add:
Author surname zh-Hans:
Author forename zh-Hans:
Author pinyin surname:
Author pinyin forename:

Right now the code only finds authors if there is more than one. In that case we designate by adding numbers, to match with the Chinese.
Author pinyin surname1:
Author pinyin forename1:
Author pinyin surname2:
Author

[2021-07-02 13:24] wsalesky commented on #199
That would be fine, just make sure I know what all the fields are named. I will be on vacation this weekend, but can make the changes next week.

[2021-07-02 13:48] millertg commented on #199
Ok, terrific. We have other things mentioned, but have done so to enhance the search. Can you also make it so that the  Bibliography search fields point also to the Extra field?
Have a nice holiday weekend!

[2021-07-06 20:44] wsalesky commented on #199
@millertg I updated the code, but I did not rerun the Zotero -> bibl transformation, would you like me to, or are these additions you still have to make to the Zotero records.

[2021-07-06 21:17] millertg commented on #199
@wsalesky Quick question--do you happen to know if there is a code to search for alternate versions of a Chinese character? i.e. either simplified or traditional regardless of what is typed in?

[2021-07-06 21:22] millertg commented on #199
@wsalesky Here are the fields I am currently hoping to include, depending on the case. If there is a way to set up a search so that we don't need to include alternate forms of characters, then we wouldn't need to have the zh-Hant entries below. Also, it would be rare to have 3 authors, but it might happen. In which case we would add a numeral 3 in the appropriate space below. Can you code it so th

[2021-07-06 21:40] wsalesky commented on #199
@millertg Okay, give this a try.

[2021-07-07 03:50] millertg commented on #199
tested this one: https://architecturasinica.org/bibl/FAJ6HHYJ

It started with no number after author pinyin

![Screen Shot 2021-07-06 at 10 22 52 PM](https://user-images.githubusercontent.com/25234059/124697002-b5743d80-deab-11eb-9bf1-53976c07a0ae.png)

But no author would display:

![Screen Shot 2021-07-06 at 10 23 29 PM](https://user-images.githubusercontent.com/25234059/124697037-c15fff80-deab

[2021-07-07 13:43] wsalesky commented on #199
@millertg How about now?

[2021-07-07 15:49] millertg commented on #199
@wsalesky Still no pinyin for author's name

![Screen Shot 2021-07-07 at 10 38 52 AM](https://user-images.githubusercontent.com/25234059/124790604-e9357e80-df10-11eb-9a58-5d9630ddb82c.png)

[2021-07-08 01:46] wsalesky commented on #199
@millertg Hopefully this resolves the issue. I misunderstood how you wanted the display.

[2021-07-08 02:41] millertg commented on #199
It works!
![Screen Shot 2021-07-07 at 9 32 03 PM](https://user-images.githubusercontent.com/25234059/124853023-cf288a00-df6a-11eb-8c71-140c9d3309e9.png)
![Screen Shot 2021-07-07 at 9 27 58 PM](https://user-images.githubusercontent.com/25234059/124853028-d2237a80-df6a-11eb-8448-02589ac61bff.png)

[2021-07-08 02:54] millertg commented on #199
@wsalesky But, I am sorry to say, the author search still doesn't find things.

![Screen Shot 2021-07-07 at 9 41 21 PM](https://user-images.githubusercontent.com/25234059/124854898-b9689400-df6d-11eb-893d-a7737a07fd7c.png)

![Screen Shot 2021-07-07 at 9 41 47 PM](https://user-images.githubusercontent.com/25234059/124853987-5aeee600-df6c-11eb-8f2c-0fcf214e978d.png)

[2021-07-08 12:49] wsalesky commented on #199
@millertg this is what I get when I search:
<img width="1626" alt="Screen Shot 2021-07-08 at 8 47 51 AM" src="https://user-images.githubusercontent.com/1168206/124924285-4e4cab00-dfc9-11eb-97a1-3845834fa889.png">

If this is what you are expecting, then I think you just need to do a hard refresh of your browser. If not I will need to rerun the index.

[2021-07-08 15:52] millertg commented on #199
@wsalesky I shouldn't be seeing the authors' names as second names in pinyin as they are no longer appear that way in Zotero. At present we are only putting the pinyin names in the extra field:
https://www.zotero.org/groups/2267085/architecturasinica/items/PDU6MSVF
 Can you rerun the index?
Thanks!!

[2021-07-08 17:16] wsalesky commented on #199
@millertg The zotero record has to be mapped to TEI, there is no extra field in the TEI, I have been mapping them to author fields with a type="alt" attribute. It sounds like this is not how you want them mapped? Is the problem with the mapping or the display in the search? Do you want to arrange a quick call tomorrow to discuss?

[2021-07-08 17:32] millertg commented on #199
@wsalesky @shubenda
a call sounds like a good idea. I am adding Yuh-Fen into this. Would sometime around 9 CST/10 EST work for both of you?

[2021-07-08 17:41] wsalesky commented on #199
That sounds great.
-Winona

On Thu, Jul 8, 2021 at 1:32 PM Tracy Miller ***@***.***>
wrote:

[2021-07-09 14:51] millertg opened #211 "switching to simplified author-date reference list"
@wsalesky @shubenda
For our reference, we are switching to Chicago, Author-Date style, and are using a simplified version.
Footnote: Author surname. year. title of book or article, cited-range.

[2021-07-09 14:57] millertg commented on #211
@wsalesky @shubenda
Chinese script titles should be in double brackets: 《》

[2021-07-10 14:23] wsalesky commented on #211
@millertg This is fixed.

[2021-07-10 14:23] #211 closed

[2021-07-10 15:09] millertg commented on #211
@wsalesky
Yay!! I love the 《》!!

[2021-07-10 15:41] millertg commented on #199
@wsalesky
Noticed 2 things when testing last (and you are going to kill me...):
1. I lost a citation--have you updated the bibliography?

2. We really need to show editors, when they are there. Seems like Editor doesn't appear when there is not also a forename.
![Screen Shot 2021-07-10 at 10 38 43 AM](https://user-images.githubusercontent.com/25234059/125168456-4dec1580-e16b-11eb-85b4-113574cb4684

[2021-07-10 15:44] millertg commented on #199
@wsalesky
Here is the TEI with Zotero code for the missing citation:
<bibl xml:id="biblk000103-2">
<ptr target="https://architecturasinica.org/bibl/G3VB5QMD"/>
<citedRange unit="pp">349</citedRange>
</bibl>
![Screen Shot 2021-07-10 at 10 42 32 AM](https://user-images.githubusercontent.com/25234059/125168580-d66ab600-e16b-11eb-80f6-4ceed541b2b5.png)

[2021-07-11 00:30] wsalesky commented on #199
@millertg how does it look now?

[2021-07-11 01:43] millertg commented on #199
@wsalesky
Much better! I see all the entries now! Yay!!
For the Bibliography entry, there are a couple of tiny things:
![Screen Shot 2021-07-10 at 8 38 11 PM](https://user-images.githubusercontent.com/25234059/125180408-5f5f0d00-e1bf-11eb-8a0e-7b17397a4457.png)

Do you ever long for a Zotero voodoo doll?

[2021-08-03 01:27] millertg commented on #209
@wsalesky
I think we are done with this. Thank you!

[2021-08-03 01:27] #209 closed

[2021-08-05 12:48] millertg opened #212 ""dev" server not updating"
@wsalesky @CliffordAnderson @shubenda
After troubleshooting on 08/05/21, we suspect webhooks from the dev branch are not functioning as they do for the production (aka "master") branch. Consequently, we cannot see what the dev updates look like in html. Once we can see changes made to dev displayed on: dev.architectura.sinica.org, then we can switch both China and US development to dev, reserving

[2021-08-05 12:51] wsalesky commented on #212
Yes I will take a look.

[2021-08-06 18:40] wsalesky commented on #212
@millertg  Looks like the db maybe corrupt, getting a fresh install running and then hopefully everything will run as expected.

[2021-08-06 19:23] millertg commented on #212
Ok, great. Thank you so much!

[2021-08-09 22:23] millertg commented on #212
@wsalesky I just checked the dev server again and I am not seeing any data. I assume this is because you are still working on it. We thought we should leave the site (dev and prod) alone until you were done, but are worried that the issues are complex. Do you have a sense of when dev might be functioning?

[2021-08-10 00:55] wsalesky commented on #212
@millertg  sorry for the delay, I hope to have an update for you tomorrow.

[2021-08-10 01:41] millertg commented on #212
@wsalesky ok, thanks!

[2021-08-10 17:38] wsalesky commented on #212
@millertg Please take a look now. This should now reflect the development branch for both the application and the data. Let me know if you see any issues, or have trouble with the webhooks.

[2021-08-10 18:04] millertg commented on #212
@wsalesky
It looks good! Thank you!!

[2021-08-10 18:45] shubenda commented on #212
Winona,

I have updated k000179 and pushed to the development site: https://github.com/VandyVRC/tcadrt/tree/development/data

But I am getting the: HTTP ERROR 404 Document /db/apps/tcadrt/404.html not found for https://dev.architecturasinica.org/keyword/k000179

When did I do wrong?

Yuh-Fen

From: Winona Salesky ***@***.***>
Sent: Tuesday, August 10, 2021 12:39 PM
To: VandyVRC/srophe-eXist-app **

[2021-08-10 18:54] wsalesky commented on #212
@shubenda can you ty making another change and resubmitting the records? The record on the server has the wrong id (https://architecturasinica.org/keyword/k000173) so there may have been a mix up while I was setting up the dev server. Any minor change should work, even spacing. Then let me know after you submit it.

[2021-08-10 19:14] shubenda commented on #212
Winona,

I just made some changes on k000173 and submitted.
Thank you.

Yuh-Fen

From: Winona Salesky ***@***.***>
Sent: Tuesday, August 10, 2021 1:55 PM
To: VandyVRC/srophe-eXist-app ***@***.***>
Cc: Benda, Yuh-Fen ***@***.***>; Mention ***@***.***>
Subject: Re: [VandyVRC/srophe-eXist-app] "dev" server not updating (#212)

@shubenda<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%

[2021-08-10 19:20] wsalesky commented on #212
@shubenda Thank you. There is a problem with the webhooks. I will get back to you shortly.

[2021-08-10 19:33] shubenda commented on #212
Thank you, Winona!

Not sure if you need this info.
But there was another new keyword doesn't display on dev. Site: k000154

Yuh-Fen

From: Winona Salesky ***@***.***>
Sent: Tuesday, August 10, 2021 2:21 PM
To: VandyVRC/srophe-eXist-app ***@***.***>
Cc: Benda, Yuh-Fen ***@***.***>; Mention ***@***.***>
Subject: Re: [VandyVRC/srophe-eXist-app] "dev" server not updating (#212)

@shubenda<https://nam

[2021-08-10 19:47] wsalesky commented on #212
@shubenda I think this has been fixed. (https://dev.architecturasinica.org/keyword/k000179) Please try again with the other missing keyword, and let me know how it goes.

[2021-08-11 02:11] millertg commented on #212
@winona @shubenda I tried to change k000001 from my copy of the dev server, but it shows unresolved conflicts with two records that Yuh Fen changed. These seem up to date in my desktop folder, however. So I am confused.
![Screen Shot 2021-08-10 at 8 59 09 PM](https://user-images.githubusercontent.com/25234059/128958773-84fd067b-e644-4088-9b55-b530318158c4.png)
![Screen Shot 2021-08-10 at 9 05 54 P

[2021-08-11 10:50] wsalesky commented on #212
@millertg I'm not sure what your process is, but it is very important to do a pull request on the development branch before you start working, or before you commit your work. This will help eliminate merge conflicts. As it is you will need to resolve the current conflicts before you can merge your branch into the development branch. I use the tool mergeTool, but perhaps you can also use the GitHub

[2021-08-11 12:51] millertg commented on #212
@wsalesky @shubenda I figured out how to fix it (whew!), but probably in the most time-consuming way possible....
Also was able to comment out in-process text in Dev and push to Prod, do that works too.
Now, we have 154 and 179 in Prod.
Yuh-Fen--will you update your Dev and Prod, then add something in Dev and push to Prod? I want to make sure we can both update both without running into conflicts.

[2021-08-11 12:52] millertg commented on #212
and perseverance ;-)

[2021-08-11 17:43] millertg commented on #212
@wsalesky @shubenda
We merged the master back in to development. The result seemed good, but now, although I see the files for both k000179 and k000154 in dev and prod, those two are not displaying on the dev server (404 Error). Could we be back to a webhook issue?

[2021-08-11 19:35] wsalesky commented on #212
I will investigate.
-Winona

On Wed, Aug 11, 2021 at 1:43 PM Tracy Miller ***@***.***>
wrote:

[2021-08-11 23:33] CliffordAnderson commented on #212
I am happy to assist with handling merge conflicts, but it sounds like @millertg and @shubenda have things under control now.

[2021-08-12 00:07] millertg commented on #212
@CliffordAnderson Thanks for the offer--we may yet have need to take you up on that!

[2021-08-12 19:40] wsalesky commented on #212
@millertg I am working on webhooks this afternoon, if you can not push any new changes while I test that would be great!

[2021-08-12 21:12] millertg commented on #212
@wsalesky @shubenda
Of course! We will stay away from the site until you give us the word.

[2021-08-13 01:28] wsalesky commented on #212
@millertg @shubenda Okay, we should be good.

[2021-08-13 02:02] millertg commented on #212
@wsalesky Ok, I can see something to update in 179, so I will give it a try

[2021-08-13 21:49] millertg commented on #212
@wsalesky @shubenda I changed a little bit of the text in k000195. It seems to work very well! Except dev seems to be running an old version of the Zotero library. Can we make it so that the dev server pulls from the most updated version of the Zotero library? Or will we need to run a separate update for dev on Zotero?

**This is from the Dev server:**
![Screen Shot 2021-08-13 at 4 06 30 PM](https

[2021-08-14 19:25] wsalesky commented on #212
@millertg I updated it for you, but you will need to run periodic updates just like on the production site.

[2021-08-14 20:08] millertg commented on #212
@wsalesky Ok, good--that is what I thought! Would the update url for the development site then be: https://dev.architecturasinica.org/apps/zotero2bibl/indes.html

[2021-08-23 13:33] millertg opened #213 "data spreadsheet download update"
@wsalesky Previous links for spreadsheet downloads are no longer working.
![Screen Shot 2021-08-23 at 8 32 52 AM](https://user-images.githubusercontent.com/25234059/130456241-a61c6de1-554d-4421-ba18-fc301e3cc949.png)

Can these be easily repaired? We need them for submissions to the Getty at the end of the semester. Thank you!

[2021-08-23 13:40] wsalesky commented on #213
@millertg Yes, it is an easy fix... will get to it today or tomorrow.

[2021-08-23 13:52] wsalesky commented on #213
Should be fixed. Please test and close if yes.

[2021-08-23 14:00] millertg commented on #213
@wsalesky it returns data, but not in the spreadsheet download format it used to.
![Screen Shot 2021-08-23 at 8 59 01 AM](https://user-images.githubusercontent.com/25234059/130460478-42440980-bbcc-480e-880d-e95df6e64806.png)

[2021-08-23 14:20] millertg commented on #212
@wsalesky The dev Zotero update works! And only took 9 seconds to complete an update. Thank you!!

[2021-08-23 14:20] #212 closed

[2021-08-24 11:59] wsalesky commented on #213
@millertg Should be fixed now. Sorry about that.

[2021-08-24 11:59] #213 closed

[2021-08-24 14:22] millertg commented on #213
@wsalesky Thank you 🙏 🥳

[2021-08-25 14:05] millertg opened #214 "Dev server still not completely updating"
@wsalesky @CliffordAnderson @shubenda
I discovered a weird shadow in the dev server. We reused a number for a new site. But it refuses to update on the dev server. I this should either be a corrupt file or, perhaps,  web hooks?

https://architecturasinica.org/place/000191/tei
This record used to be the Jin Shrines offering hall; changed to Longhua Monastery. The TEI record is updated in the dev re

[2021-08-25 16:00] wsalesky commented on #214
@millertg I see it on the dev server: https://dev.architecturasinica.org/place/000191a

[2021-08-28 22:52] #214 closed

[2021-09-24 19:13] millertg opened #215 "trouble with srophe crashing?"
@wsalesky we have been working well on the dev site of tcadrt, but the production site has been showing a 502 Error. It reboots, only to crash again.

[2021-09-24 19:30] millertg commented on #215
@wsalesky can you tell me which image of the app we should pull from Docker if we (Cliff, Yuh-Fen, and I) want to be able to service it locally?

[2021-09-24 19:57] wsalesky commented on #215
@millertg syriaca.org has been crashing a lot over the past few days as well, we are working on fixing it, and that should help with tcadrt as well. You can use the latest version from DockerHub: https://hub.docker.com/repository/docker/srophe/tcadrt

However you will need to re-deploy the latest version into the app to run it locally. (fetch the latest from github, run 'ant' and drop the .xar fil

[2021-09-24 20:16] millertg commented on #215
@wsalesky @CliffordAnderson @shubenda Ok, we will give it a shot and see if we run into any errors. Thanks so much!

[2021-09-25 03:41] millertg opened #216 "Note field issues in download"
@wsalesky do you have time to modify our spreadsheet download? We need to create new tags that *don't display* but that will separate out a paragraph for sharing in multiple languages (primarily with the Getty at this point). Thanks!

[2021-10-05 11:38] millertg commented on #216
@wsalesky spreadsheet download needs to read for:
<desc type="building-data">
currently data from this description type does not appear in download

currently the download only picks up
<desc type="site-data">
This displays as "site data" when it should be "building data" (so it was actually mis-tagged)
example https://architecturasinica.org/place/000024c.tei

[2021-10-06 12:56] millertg opened #217 "@wsalesky spreadsheet download needs to read for:"
@wsalesky spreadsheet download needs to read for:
desc type="building-data"
currently data from this description type does not appear in download

currently the download only picks up
desc type="site-data"
This displays as "site data" when it should be "building data" (so it was actually mis-tagged)
example https://architecturasinica.org/place/000024c.tei

_Originally posted by @millertg in https:

[2021-10-06 15:30] wsalesky commented on #217
@millertg how does it look now?

[2021-11-02 19:49] millertg opened #218 "spreadsheet download categories"
@wsalesky Help! Can you tell us how to tag our note fields so that they appear in the columns you already have set up for us? We want to tag our Getty scope note-en and hant, but can't figure out how to do so (see screenshot). We are just using note type=brief for the moment. What attribute are we missing?  If we could know by tomorrow then I could have the kids add the tag before a meeting on Thu

[2021-11-02 21:07] wsalesky commented on #218
@millertg This is what the code is looking for:
`tei:note[@type="getty:scopeNote" or @type="Scope Note"]/tei:p[@xml:lang = 'en'`

and

`/tei:note[@type="getty:scopeNote" or @type="Scope Note"]/tei:p[@xml:lang = 'zh-Hant']`

Does that  help?

[2021-11-02 22:44] millertg commented on #218
Yes! I will try it tonight. Thank you!

[2021-11-03 16:22] wsalesky commented on #218
@millertg Just checking in, is this resolved?

[2021-11-03 17:58] millertg commented on #218
@wsalesky yes, in a manner of speaking. I was able to use that tag and see the data in the tsv download. However, what I would like to do is to have a tag for a text paragraph that will pull one paragraph (actually 2, one in English one in Chinese) of text from within a "note" into a separate column, without displaying anything on the webpage. Do you happen to have an instant solution for that :-)

[2021-11-03 18:01] wsalesky commented on #218
@millertg  I'm not sure I completely understand. Can you give me an example. The XML, and then how you want it to appear in the download?

[2021-11-03 18:02] shubenda commented on #218
@wsalesky I just tried with tei:note[@type="Scope Note"]/tei:p[@xml:lang = 'en'] and tei:note[@type="Scope Note"]/tei:p[@xml:lang = 'zh-Hant'], see example: https://dev.architecturasinica.org/keyword/k000154
I duplicate the first sentences for both Chinese and English. but the duplicate contents don't show up either under Getty note or brief note.
now sure what went wrong. can you help?

[2021-11-03 18:05] millertg commented on #218
@wsalesky @shubenda
Let me explain what we are trying to do. more in a second (building screenshots)

[2021-11-03 19:18] millertg commented on #218
@wsalesky @shubenda experimenting on this record: https://dev.architecturasinica.org/keyword/k000154
trying to have Getty subsection of our Note (full) display in separate column

![Screen Shot 2021-11-03 at 2 13 54 PM](https://user-images.githubusercontent.com/25234059/140177844-ac5b5fa7-3c64-444c-b4d0-183253180dda.png)
![Screen Shot 2021-11-03 at 1 50 20 PM](https://user-images.githubusercontent

[2021-11-03 23:15] wsalesky commented on #218
@millertg Try now: https://dev.architecturasinica.org/modules/data.xql?format=tsv&collection=keywords

[2021-11-03 23:24] millertg commented on #218
@wsalesky @shubenda
By george, I think you have done it. It works for zaojing--Yay!! Thank you! Yuh-Fen, do you want to give it a try with a different term?
![Screen Shot 2021-11-03 at 6 22 36 PM](https://user-images.githubusercontent.com/25234059/140232435-1b2ec2dd-ecdb-4c14-9f9f-516c921ef692.png)

![Screen Shot 2021-11-03 at 6 22 36 PM](https://user-images.githubusercontent.com/25234059/14023241

[2021-11-04 00:01] shubenda commented on #218
@wsalesky@millertg
yes, it works. Thank you, Winona!
I just updated the: https://dev.architecturasinica.org/keyword/k000179
Is this the link we should use to download the keywords in the future? https://dev.architecturasinica.org/modules/data.xql?format=tsv&collection=keywords

[2021-11-04 00:46] #218 closed

[2021-11-16 17:56] #216 closed

[2021-11-16 17:59] millertg opened #219 "Forms, again"
@wsalesky @shubenda Winona, would it be easier for you to create a form based on the Getty AAT model? That way we could have students fill out an AAT compatible form at the same time as generating a record page for Architectura Sinica.
Here is the link to their form: http://vocabcontrib.getty.edu/web-form/aat.aspx. I'll send you the password in an email.

[2021-11-30 02:31] #215 closed

[2021-11-30 02:34] millertg opened #220 "merging"
@wsalesky @CliffordAnderson @shubenda I just merged dev to production, and it didn't change anything on the website. Winona--can you see any immediate mistakes?

[2021-12-01 16:43] wsalesky commented on #220
fixed

[2021-12-01 22:54] millertg commented on #220
I made a couple of minor modifications in dev for a meeting tonight, and merged it with production, but the production server did not update.
compare:
https://architecturasinica.org/keyword/k000194
https://dev.architecturasinica.org/keyword/k000194

[2021-12-02 12:19] wsalesky commented on #220
@millertg There was a permissions problem on the webhooks, should be working now. I pushed those changes again, everything looks okay except: tcadrt-data/data/places/buildings/tei/000048ma.xml

This is producing an error, looks like the XML is not correct: "The XML parser reported a problem: fatal error at (71,45) : Open quote is expected for attribute "from" associated with an  element type  "sta

[2021-12-02 12:19] #220 closed

[2021-12-02 17:56] millertg commented on #220
@wsalesky Thank you!

[2022-01-03 16:39] #199 closed

[2022-01-03 16:54] millertg opened #221 "Bibliography not displaying all items?"
@wsalesky @shubenda Happy New Year!
A few of our new citations do not appear on our AS pages even though we have run the Zotero updates. For example in the page for the Small Wild Goose Pagoda:
https://dev.architecturasinica.org/place/000296a

the source by Cui Junping does not appear in the footnote, even though it is in the AS bibliography on the site. I have updated both the production and dev

[2022-01-03 18:15] wsalesky commented on #221
@millertg The problem is the URI to the bibl record:
`<ptr target="https://dev.architecturasinica.org/bibl/PRQDGBFB"/>`

Should be:
`<ptr target="https://architecturasinica.org/bibl/PRQDGBFB"/>`

[2022-01-03 21:04] millertg commented on #221
@wsalesky @shubenda So simple--thank you!

[2022-01-04 02:01] millertg commented on #221
@wsalesky @shubenda
So, I keep running into this: Wilkinson is not displaying anymore, but only, it seems, on the dev site. Compare:
https://architecturasinica.org/keyword/k000082
![Screen Shot 2022-01-03 at 7 59 06 PM](https://user-images.githubusercontent.com/25234059/147999737-1c7f383f-fc7c-4fea-a45a-5a4bb4b4d536.png)

with
https://dev.architecturasinica.org/keyword/k000082

![Screen Shot 2022-

[2022-01-04 15:54] wsalesky commented on #221
@millertg This record (https://architecturasinica.org/bibl/ZBKKJWX7) does not exist on the dev site. You will need to keep both dev and prod up to date with Zotero. Even though the URI is to the production server, the app is looking for it on the local, in this case, dev server. It uses the  URI 'https://architecturasinica.org/bibl/ZBKKJWX7' as an identifier, not a URL. Does that make sense?

[2022-01-04 17:13] wsalesky commented on #221
I will take another look.

[2022-01-04 17:19] wsalesky commented on #221
I'm going to rerun the Zotero tool on the dev server, see if that resolves the issue.

[2022-01-04 18:28] millertg commented on #221
I have been doing “update”, rather than “initiate”, so perhaps that will work!

From: Winona Salesky ***@***.***>
Date: Tuesday, January 4, 2022 at 11:20 AM
To: VandyVRC/srophe-eXist-app ***@***.***>
Cc: Miller, Tracy G ***@***.***>, Mention ***@***.***>
Subject: Re: [VandyVRC/srophe-eXist-app] Bibliography not displaying all items? (Issue #221)

I'm going to rerun the Zotero tool on the dev serve

[2022-01-04 18:42] wsalesky commented on #221
I reran the Zotero import, using 'initiate' this seems to have worked. In the future you should be able to just use the update function, some of the data seems not to have been loaded when the dev application was started up the first time.

[2022-02-16 02:59] millertg commented on #221
@wsalesky Hi Winona! The Zotero function seems to be having difficulty again. We seem to have lost the data entirely on the dev server:
![Screen Shot 2022-02-15 at 8 53 33 PM](https://user-images.githubusercontent.com/25234059/154187483-ffea12f4-97aa-4131-adde-5383e2b03752.png)
I tried running the update--actually, given the lack of data, I initiated it. But I ran into this error when hitting "nex

[2022-02-16 17:55] wsalesky commented on #221
@millertg Looks like a timeout, I'm not sure if that is from the dev server or the Zotero server. What happens if you run it again today?

[2022-02-16 18:30] shubenda commented on #221
Winona,

I was able to run up to 500, then got this error message:
<message status="500">
Internal Server Errorhttps://api.zotero.org/groups/2267085/items?format=json&include=bib,data,coins,citation&style=chicago-fullnote-bibliography&start=700&limit=50
</message>

The citations appeared on the pages I randomly checked.

Should I rerun again from 1? Or ?

Yuh-Fen

From: Winona Salesky ***@***.***>

[2022-02-16 18:38] wsalesky commented on #221
Zotero will occasionally deny a request if there are many close together. If you run them with breaks in between, or wait 10 minutes after getting an error like the one above you should be fine. You can paste the URL from above into the browser and start the update from there (you can see in the URL the start # is 700), so you do not have to start over from 1.

[2022-02-17 18:02] wsalesky commented on #221
I will take a look tonight.

[2022-02-18 15:44] millertg commented on #221
They are there, but with different numbers. I am not sure what happened...
Steinhardt 2004, 228-254, is: 9THW6IYB in Zotero now, but looks like it was coded as 5BCMQWGJ. It may be that the student who did this coding used records in ASTransfer before they were moved to the main library? I don't see the same problem on records from other sites, but I will keep looking.

[2022-02-18 15:46] millertg commented on #221
But--do you know why the app would lose the codes to begin with? They had been loaded into the AS library, and we haven't moved the dev server to its new platform yet, I don't think

[2022-02-18 15:59] wsalesky commented on #221
Is the code correct in github, but incorrect on the server?

[2022-02-18 16:09] wsalesky commented on #221
Correct. I was just wondering if you had made a change to the github version that had not made it to the dev server. Sounds like the mismatch is between the TEI and Zotero though.

[2022-02-18 16:10] millertg commented on #221
So I think we have two issues:

1. my student used the wrong Zotero library when she initially wrote her bibl statements (same student did 000066 and 000214)
2. ? happens moving the site to a different platform and we have to reload the zotero library

Does that seem possible?

[2022-02-18 16:32] millertg commented on #221
That would not explain why the first footnote was missing (the one with p. 12), and all of the other records had lost their data as well. Compare [000066](https://dev.architecturasinica.org/place/000066) Works Cited now with what it was before. Wilkinson didn't display in the earlier screenshot:
Today:
![Screen Shot 2022-02-18 at 10 30 34 AM](https://user-images.githubusercontent.com/25234059/1547

[2022-03-24 12:55] wsalesky commented on #221
@millertg Is this still an issue? I'm working on catching up with open issues. If solved, please close. Thanks!

[2022-03-24 13:16] #166 closed

[2022-04-25 13:36] wsalesky opened #222 "Issue with search on research-tool page."
Caused by too many nested functions. Can not call all related items in the search, as it generates a maxClauseCount error, and is very inefficient.

[2022-06-21 20:39] #173 closed

[2022-06-21 20:45] millertg opened #226 "new pages in "About" not displaying"
@wsalesky @shubenda Yuh-Fen added a link to the new 2022 page on the About page, but, although we copied the old page and can see everything on Github, it doesn't display on the AS site. I looked at the page carefully and didn't see any obvious errors. Winona, can you tell us what we are doing wrong? Or could this be a webhook issue?
![Screen Shot 2022-06-21 at 3 41 29 PM](https://user-images.gith

[2022-06-22 13:02] wsalesky commented on #226
@millertg @shubenda It did not load because there is an unclosed li tag. Here is the error from the webhooks:

   ` <message>Failed to update resource /db/apps/tcadrt/contributorsATTCAT2022.html: java:org.xmldb.api.base.XMLDBException: The XML parser reported a problem: fatal error at (70,23) : The element type "li" must be terminated by the matching end-tag "&lt;/li&gt;". XMLDB reported an except

[2022-06-22 13:56] shubenda commented on #226
Thank you, Winona!
I fixed.
So many pairs of eyes looked at the code, none of us saw the unclosed tag.

Will view in oxygen in the future.

Yuh-Fen

From: Winona Salesky ***@***.***>
Sent: Wednesday, June 22, 2022 8:03 AM
To: VandyVRC/srophe-eXist-app ***@***.***>
Cc: Benda, Yuh-Fen ***@***.***>; Mention ***@***.***>
Subject: Re: [VandyVRC/srophe-eXist-app] new pages in "About" not displaying (Iss

[2022-06-22 14:10] wsalesky commented on #226
@shubenda Great! It is always hard to catch these little bugs, that is why Oxygen is so useful.

[2022-07-22 19:23] #226 closed

[2022-07-22 19:27] millertg opened #227 "exerr:ERROR Exception while transforming node"
@wsalesky @shubenda
So, I just updated the production server, and some of the files are fine. But this entry on “ta” (pagoda) generated an error in the production server (https://architecturasinica.org/keyword/k000060), even though it displays fine in dev. Can you tell what is going on?(https://dev.architecturasinica.org/keyword/k000060).
![Screen Shot 2022-07-22 at 2 22 32 PM](https://user-images

[2022-07-23 02:16] wsalesky commented on #227
The problem is right here:
https://github.com/VandyVRC/tcadrt/blob/master/data/keywords/tei/k000060.xml#L105

This bibl does not have an xml:id, it has a source attribute instead. So change line 105 from:

`<bibl source="biblk000060-2">`

to:

`<bibl xml:id="biblk000060-2">`

That should fix the error.

[2022-07-23 02:32] millertg commented on #227
It worked! Thank you!!!
I have fixed that type of error before—hopefully I will recognize it next time.

Thanks, again!
Tracy

From: Winona Salesky ***@***.***>
Date: Friday, July 22, 2022 at 9:17 PM
To: VandyVRC/srophe-eXist-app ***@***.***>
Cc: Miller, Tracy G ***@***.***>, Assign ***@***.***>
Subject: Re: [VandyVRC/srophe-eXist-app] exerr:ERROR Exception while transforming node (Issue #227)

Th

[2022-08-08 02:46] millertg opened #228 "dev server English Zotero entries not displaying"
@wsalesky the dev server is not showing the English language Zotero information.
I updated a page and noticed that the works cited entries on dev are not loading properly. I ran an update on both the dev and prod servers, but it didn't help. I tried to "initiate" the bibliography, but received an error after updating through 500 entries.
The prod server works cited looks fine.

I have attached a s

[2022-08-09 15:12] wsalesky commented on #228
@millertg how does it look now? I reran the zoter2bibl script. Sometime when you run it you get a service denied error, just give it a few minutes and try again (from where you got the error, don't start all over), Zotero does some rate limiting.

[2022-08-09 15:30] millertg commented on #228
@wsalesky Looks good now--thank you! Nice to know that about Zotero. I am usually pretty patient, but it was the service denied error that threw me.

[2022-08-09 15:30] #228 closed

[2022-08-09 15:33] wsalesky commented on #228
Yes, it can get confusing. I should probably do some additional documentation on the app so when you get that you know what to do!

[2022-08-09 15:41] millertg commented on #228
*Additional* documentation? So, this is embarrassing…is the other zotero2bibl documentation somewhere on Github🙃?

From: Winona Salesky ***@***.***>
Date: Tuesday, August 9, 2022 at 10:33 AM
To: VandyVRC/srophe-eXist-app ***@***.***>
Cc: Miller, Tracy G ***@***.***>, State change ***@***.***>
Subject: Re: [VandyVRC/srophe-eXist-app] dev server English Zotero entries not displaying (Issue #228)

Ye

[2022-08-09 15:45] wsalesky commented on #228
Technically there is a very small amount of documentation (https://github.com/srophe/zotero2bibl). What I should do is add a message for when you get a service denied error that lets you know to retry your request in a few minutes.

[2022-08-09 15:47] millertg commented on #228
@wsalesky that would be great!